@font-face {
  font-family: chalkduster;
  src: url('../chalkduster.ttf') format("truetype");
}
@font-face {
  font-family: Antonio-Bold;
  src: url('../Antonio-Bold.ttf') format("truetype");
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 0;

	.page {
		padding-top: 80px;
		overflow: hidden;
	}
	a {
		transition: .2s;

		&:hover {
			opacity: .7;
		}
	}
	.title {
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;
		color: #FFC836;
	}

	.title-small {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 24px;
		color: #2C2C2C;
	}
	.subtitle {
		margin-top: 11px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 26px;
		line-height: 30px;
		text-transform: uppercase;
		color: #2C2C2C;
	}
	.desc {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #2C2C2C;

		b {
			font-weight: 500;
		}
		a {
			color: #4285f4;
			text-decoration: none;
		}
	}
	.common-list {
		list-style: none;
		padding: 0;
	}
	.common-list__item {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 36px;
		color: #2C2C2C;
		position: relative;
		padding-left: 22px;

		&:before {
			content: '';
			width: 12px;
			height: 12px;
			background: #FFC836;
			border-radius: 50px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -6px;
		}
	}
	.common-wrapper {
		background: #FFFFFF;
		box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
		border-radius: 2px;
		padding: 60px 60px 76px;
		box-sizing: border-box;
		position: relative;
	}
	.wrapper {
		max-width: 1110px;
		margin: 0 auto;
	}

	.menu {
		background: #33004a;
		width: 280px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
	    overflow: auto;
   		height: 100%;

		&.fade-enter-active, &.fade-leave-active {
		  transition: .4s;
		  transform: translateX(0);
		}
		&.fade-enter, &.fade-leave-to {
		  transform: translateX(-280px);
		}

		&-wrapper {
			padding: 30px 10px 0 52px;

			.langs {
			    position: absolute;
			    top: 30px;
			    right: 53px;
			    z-index: 1;

		    	&__item {
			    	display: inline-block;
					vertical-align: middle;
					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					text-transform: uppercase;
					color: #fff;
					cursor: pointer;
					transition: .2s;
					margin-left: 15px;

					&:hover {
						opacity: .7;
					}
					&.active {
						color: #000;
					}
				}
		    }
		}
		.menu-back-icon {
			cursor: pointer;
			width: 25px;
			margin-bottom: 65px;
			transition: .2s;

			&:hover {
				opacity: .7;
			}
		}
		.menu-link-list__item {
			display: table;
			text-decoration: none;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 32px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-bottom: 25px;

			&.router-link-active {
				color: #FBE05A;
				text-shadow: 0px 0px 2px #FBE05A;
			}
		}
		&-footer {
			height: 94px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			&-link {
				margin: 0 10px;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				&-img {
					width: auto;
					height: 20px;
				}
			}
		}
	}
	.header {
		height: 80px;
		display: block;
		z-index: 4;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		transition: .2s;
		box-sizing: border-box;
		border-bottom: 2px solid transparent;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);

		&.active {
			border-bottom: 1px solid rgba(147, 147, 147, 0.4);
			box-shadow: none;
		}
		.header-wrapper {
			max-width: 1110px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			height: 80px;
		}
	    .header-left,
	    .header-right,
	    .header-center {
			width: calc((100% - 200px)/2);
			display: inline-block;
			vertical-align: middle;
		}
	    .header-center {
	    	width: 200px;
	    	text-align: center;

	    	.logo-img {
	    		max-width: 122px;
	    		width: 100%;
	    	}
	    }
	    .header-right {
	    	text-align: right;
	    }

	    .menu-icon {
	    	width: 24px;
	    	height: 18px;
	    	display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			transition: .2s;

			&:hover {
				opacity: .7;
			}
	    }
	    .map-link-container {
	    	display: inline-block;
	    	vertical-align: middle;
	    	position: relative;
			margin-left: 30px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -15px;
				top: 2px;
				height: 18px;
				width: 2px;
				background: rgba(15, 15, 15, 0.5);
			}

		    .map-link {
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;

		    	&-img {
		    		width: 16px;
		    		height: 22px;
		    		margin-right: 9px;
		    		vertical-align: middle;
		    	}
		    	&-title {
		    		font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 21px;
					color: #2C2C2C;
					display: inline-block;
					vertical-align: middle;
		    	}
		    }
		}
  	}
  	.home-baner-container {
  		overflow: hidden;
  		border-radius: 14px;

  		.el-carousel {
  			&__container {
		  		height: 400px;
		  	}
		  	&__item {
		  	}
		  	&-title {
	  			font-family: Roboto;
				font-style: normal;
				font-weight: 900;
				font-size: 26px;
				line-height: 62px;
				color: #FBE05A;
				margin: 0;
	  		}
	  		&-subtitle {
	  			font-family: Roboto;
				font-style: normal;
				font-weight: 900;
				font-size: 62px;
				line-height: 62px;
				color: #FFFFFF;
				text-shadow: 0px 6px 10px rgba(64, 64, 64, 0.4);
				margin-top: -10px;
				max-width: 360px;
	  		}
			&__arrow--right {
		  		right: 47px;
		  		background-image: url('../img/icons/right_arrow.svg');
		  		background-size: cover;

		  		&:hover {
		  			background-image: url('../img/icons/right_arrow_hover.svg');
		  		}
		  	}
		  	&__arrow--left {
		  		left: 47px;
		  		background-image: url('../img/icons/left_arrow.svg');
		  		background-size: cover;

		  		&:hover {
		  			background-image: url('../img/icons/left_arrow_hover.svg');
		  		}
		  	}
		  	&__arrow {
		  		width: 47px;
		  		height: 47px;
		  		transition: .2s;
		  		z-index: 3;
		  		display: none !important;

		  		i {
		  			display: none;
		  		}
		  	}
		  	&__indicators {
		  		display: none;
		  		left: 182px;
		  		transform: none;
		  		bottom: 33px;
		  	}
		  	&__indicator {
		  		margin-right: 8px;
		  		padding: 0;
		  	}
		  	&__button {
		  		border: 1px solid #FBE05A;
		  		width: 14px;
		  		height: 14px;
		  		border-radius: 50px;
		  		background: transparent;
		  		opacity: 1;
		  		position: relative;
		  		transition: .2s;

		  		&:hover {
		  			opacity: .7;
		  		}
		  		&:before {
		  			content: '';
		  			display: block;
		  			position: absolute;
		  			background: #FBE05A;
		  			width: 8px;
		  			height: 8px;
		  			border-radius: 50px;
		  			top: 2px;
		  			left: 2px;
		  			transition: .2s;
		  			opacity: 0;
		  		}
		  	}
		  	&__indicator.is-active .el-carousel__button:before {
	  			opacity: 1;
	  		}
	  		&-bg {
	  			width: 100%;
	  			height: 100%;
	  			position: absolute;
	  			left: 0;
	  			top: 0;
	  		}
	  		&-wrapper {
	  			position: relative;
	  			z-index: 2;
		  		color: #fff;
		  		padding: 29px 182px;
		  		box-sizing: border-box;
	  		}
	  		&-container {
	  			height: 100%;
	  			position: relative;
	  		}
	  		&-container {

	  			&.te-ir-darbs {
		  			background-color: #0ebcd4;
		  			text-decoration: none;
		  			display: block;

		  			&:hover {
		  				opacity: 1;

		  				.el-carousel-img2 {
		  					transform: scale(1.1) translateX(20px);
		  				}
		  			}
		  			.el-carousel-wrapper {
		  				padding: 0 33px;
		  				height: 100%;
		  			}
		  			.el-carousel-img1 {
		  				width: auto;
		  				height: 380px;
		  				bottom: 0;
		  				left: 24px;
		  				position: absolute;
		  			}
		  			.el-carousel-img2 {
		  				width: auto;
		  				height: 390px;
		  				bottom: 0;
		  				left: 44px;
		  				position: absolute;
		  				transition: .7s ease;
		  				z-index: 2;
		  			}
		  			.el-carousel-img3 {
		  				width: auto;
		  				height: 370px;
		  				top: 0;
		  				right: 10px;
		  				position: absolute;
		  			}
		  			.el-carousel-title {
		  				text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
						font-family: Roboto;
						font-size: 100px;
						font-weight: 900;
						font-stretch: normal;
						font-style: italic;
						line-height: 1;
						letter-spacing: normal;
						color: #ee3350;
						text-transform: uppercase;
						max-width: 600px;
						text-align: center;
						margin: 0 0 0 auto;
						padding-top: 27px;

						span {
							color: #068bc6;
						}
		  			}
		  			.el-carousel-subtitle {
		  				font-family: chalkduster;
						font-size: 26px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.54;
						letter-spacing: normal;
						color: rgba(255, 255, 255, 0.72);
						position: absolute;
						bottom: 33px;
						right: 33px;
						transform: rotate(-45deg);
						text-align: center;

						span {
							font-size: 32px;
							line-height: 1.25;
						}
		  			}
		  		}
		  		&.gimene-slide {
		  			background: #002f89;
		  			display: table;
				    width: 100%;

		  			.el-carousel-wrapper {
	  				    display: table-cell;
					    vertical-align: middle;
					    text-align: left;
		  			}
		  			.el-carousel-subtitle {
		  				margin-bottom: 2px;
		  				line-height: 1.29;
		  			}
		  			.el-carousel-title {
		  				font-family: Roboto;
						font-size: 24px;
						font-weight: bold;
						font-stretch: normal;
						font-style: normal;
						line-height: 40px;
						letter-spacing: normal;
						color: #1f1f1f;
						text-transform: uppercase;

						span {
							display: table;
							margin-bottom: 10px;
							background-color: #fbe05a;
							padding: 0 4px 0 9px;

							&:last-child {
								margin-bottom: 0;
							}
						}
		  			}
		  			.el-carousel-img1 {
		  				position: absolute;
		  				width: 200px;
		  				top: 15px;
		  				right: 25px;
		  			}
		  			.el-carousel-img2 {
		  				position: absolute;
	  				    top: 0;
					    left: 0;
					    height: 100%;
		  			}
		  			.el-carousel-img3 {
		  				position: absolute;
		  				width: 254px;
		  				right: 180px;
		  				top: 50%;
		  				transform: translateY(-50%);
		  			}
		  		}
		  		&.draudziga {
		  			background-color: #0ebcd4;
		  			text-decoration: none;
		  			display: block;

		  			&:hover {
		  				opacity: 1;

		  			}
		  			.el-carousel-wrapper {
		  				padding: 0 33px;
		  				height: 100%;
		  			}
		  			.el-carousel-img1 {
		  				width: auto;
		  				height: 380px;
		  				bottom: 0;
		  				left: 24px;
		  				position: absolute;
		  			}
		  				.el-carousel-img2 {
						position: absolute;
						width: 238.4px;
						height: 139px;
						left: 436.8px;
						top: 154px;
		  			}
		  				.el-carousel-food {
						position: absolute;
						width: 315.33px;
						height: 379px;
						left: 745.34px;
						top: 21px;
		  			}
		  			.el-carousel-star1 {
						position: absolute;
						width: 40px;
						height: 40px;
					    left: 0;
					    top: 10px;
					}
		  			.el-carousel-star2 {
						position: absolute;
						width: 40px;
						height: 40px;
					    right: 0;
					    top: 10px;
					}
		  			.el-carousel-title {
						position: absolute;
						width: 700px;
						height: 29px;
						left: 73px;
						top: 315px;
						font-family: Open Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 20px;
						line-height: 29px;
						color: #FFFFFF;
						text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
		  			}
		  			.el-carousel-subtitle {
						position: absolute;
						max-width: 100%;
						height: 60px;
						left: 73px;
						top: 54px;
						font-family: Antonio;
						font-style: normal;
						font-weight: bold;
						font-size: 50px;
						line-height: 60px;
					    padding: 0 60px;
					    display: table;
					    width: auto;
						margin-top: -1px;
						letter-spacing: 1px;
						text-transform: uppercase;
						color: #FFFFFF;
						text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.48);
		  			}
		  			.el-carousel-subtitle2 {
							position: absolute;
							width: 127px;
							height: 88px;
							left: 126px;
							top: 191px;

							font-family: Antonio;
							font-style: normal;
							font-weight: bold;
							font-size: 96px;
							line-height: 88px;
							/* identical to box height, or 92% */

							display: flex;
							align-items: center;
							letter-spacing: 1px;
							text-transform: uppercase;

							color: #FFFFFF;

							text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.48);
						
		  			}
		  			.el-carousel-subtitle3 {
							position: absolute;
							width: 70px;
							height: 63px;
							left: 254px;
							top: 216px;

							font-family: Antonio-Bold;
							font-style: normal;
							font-weight: bold;
							font-size: 64px;
							line-height: 80px;
							/* or 125% */

							display: flex;
							align-items: center;
							letter-spacing: 1px;
							text-transform: uppercase;

							color: #FFFFFF;

							text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.48);
						
		  			}
		  			.el-carousel-subtitle4 {
							position: absolute;
							width: 52px;
							height: 51px;
							left: 340px;
							top: 228px;

							font-family: Antonio;
							font-style: normal;
							font-weight: bold;
							font-size: 52px;
							line-height: 60px;
							/* or 115% */

							display: flex;
							align-items: center;
							letter-spacing: 1px;
							text-transform: uppercase;

							color: #FFFFFF;

							text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.48);
						
		  			}
		  		}
		  			&.covid_19 {

						 .el-carousel-wrapper {
						 	padding: 0;
						 }
						.el-carousel-subtitle5 {
							position: fixed;
							left: 22.43%;
							right: 22.43%;
							top: 30.75%;
							bottom: 34.75%;

							font-family: Roboto;
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 32px;
							/* or 160% */

							text-align: center;
							letter-spacing: 1px;

							color: #FF0000;
						}
					}
	  		}
  		}
  	}
  	.order-button {
  		background: #ffc836;
		border-radius: 4px;
		display: table;
	    padding: 0 10px;
	    text-align: left;
		text-decoration: none;
		margin: 0 0 0 auto;
		box-sizing: border-box;

		&-img {
			margin-right: 7px;
			width: 26px;
			height: 26px;
			vertical-align: middle;
		}
		&-title {
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 44px;
			color: #2c2c2c;
			vertical-align: middle;
		}
  	}
  	.home-about {
  		padding: 50px 24px 70px;

  		&-left {
  			display: inline-block;
  			vertical-align: top;
  			width: 48%;
  			padding-right: 40px;
  			box-sizing: border-box;

  			.home-about-text-title {
  				margin-top: 61px;
  			}
  			.home-about-text-desc {
  				margin-top: 19px;
  			}
  			.home-about-bigtitle {
  				margin-top: 208px;
  				line-height: 80px;
				position: relative;
				z-index: 1;
  			}
  		}
  		&-right {
  			display: inline-block;
  			vertical-align: top;
  			width: 52%;
  			padding-left: 40px;
  			box-sizing: border-box;

  			.home-about-text-title {
  				margin-top: 325px;
  			}
  			.home-about-text-desc {
  				margin-top: 26px;
  			}
  			.home-about-bigtitle {
			    text-align: right;
  			}
  		}
  		&-text {
  			position: relative;
  		}
  		&-title {
  			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			line-height: 21px;
			text-transform: uppercase;
			color: #FFC836;
  		}
  		&-subtitle {
  			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 26px;
			line-height: 30px;
			text-transform: uppercase;
			color: #2C2C2C;
			margin-top: 11px;
  		}
  		&-bigtitle {
			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 80px;
			line-height: 0.88;
			letter-spacing: -4px;
			color: #682387;
			position: relative;

			&-mob {
				display: none;
			}
  		}
  		&-text-title {
  			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			color: #2C2C2C;
  		}
  		&-text-desc {
  			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			color: #2C2C2C;
  		}
  		.pepper-img {
  			position: absolute;
  			bottom: -180px;
  			left: -46px;
  			max-width: 209px;
  			width: 100%;
  		}
  		.kompl-img {
  			position: absolute;
  			top: 10px;
  			left: -58px;
  			max-width: 480px;
  			width: 100%;
  			z-index: 1;
  		}
  		.tomatos-img {
  			position: absolute;
  			top: -50px;
  			right: -20px;
  			max-width: 299px;
  			width: 100%;
  			z-index: -1;
  		}
  		.about-link {
  			margin-top: 34px;
  			background: #FFFFFF;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
			border-radius: 4px;
			text-decoration: none;
			display: table;
			padding: 19px 17px;

			&-title {
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
				color: #2C2C2C;
				vertical-align: middle;
			}
			&-img {
				margin-left: 20px;
				width: 12px;
				height: 11px;
				vertical-align: middle;
			}
  		}
  	}
  	.page.lv .home-about .kompl-img {
		left: -108px;
	}
	.page.lv .home-about .tomatos-img {
		right: -30px;
	}
	.page.ru .home-about .tomatos-img {
		right: -100px;
	}
  	.home-page {
  		.home-about {
  			&-right {
  				vertical-align: middle;

  				.home-about-bigtitle {
			  		text-align: left;
			  	}
  			}
  			&-left {
  				vertical-align: middle;
  			}
  			.kompl-img {
			    top: -110px;
    			left: 72px;
		  	}
  		}
	}

	.page.lv .home-page .kompl-img {
		left: 130px;
	}
  	.home-video {
  		position: relative;
  		overflow: hidden;
		width: 100%;
		height: 400px;
		border-radius: 2px;
		display: none;

		.play-button {
			width: 80px;
			height: 80px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: url('../img/icons/play.svg');
			background-size: cover;
			z-index: 1;
			cursor: pointer;
		}
		&-title {
			max-width: 1110px;
			margin: 106px auto;
			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 28px;
			line-height: 47px;
			color: #FFFFFF;
			position: relative;
			z-index: 1;
		}
		&-subtitle {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 900;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #ffc836;
			display: none;
		    position: absolute;
		    top: 30px;
		    left: 16px;
		    text-transform: uppercase;
		}
  		.home-video-baner {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		    background-image: url('../baners-img/fries.jpg');
		    background-size: cover;
		}
  	}
  	.home-products {
  		position: relative;
  		padding-top: 30px;

  		&-offset {
  			position: absolute;
  			top: -50px;
  			left: 0;
  		}
  		.filters {
  			position: relative;
  			height: 203px;

  			&-wrapper {
				left: 0;
				top: 80px;
				width: 100%;
				transition: .2s ease;
				z-index: 4;
				background: #fff;
  			}

			&.active {

				.filters-wrapper {
					position: fixed;
					border-bottom: 1px solid rgba(147, 147, 147, 0.4);
				}
				.filters-list__item-img-container {
					height: 0;
					opacity: 0;
				}
				.home-products-filters {
					padding-top: 26px;
					padding-bottom: 17px;
				    width: calc(100% + 30px);
    				margin-left: -10px;
				}
			}

  		}
  		&-filters {
  			padding-top: 25px;
  			padding-bottom: 12px;
  		}
  		.filters-list__item {
			display: inline-block;
			vertical-align: top;
			width: calc(100% / 9);
			cursor: pointer;
			transition: .2s;
			position: relative;

			&:after {
				content: '';
				display: block;
				width: 90%;
				height: 6px;
				background: #7124B4;
				box-shadow: 0px 6px 12px rgba(113, 36, 180, 0.32);
				border-radius: 100px;
				transition: .2s;
				opacity: 0;
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
			}
			&:hover:after {
				opacity: .5;
			}
			&.active:after {
				opacity: 1;
			}

			&-img {
			    max-height: 65%;
				max-width: 85%;

				&-container {
					width: 100%;
					max-width: 147px;
					height: 147px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
					transition: .2s ease;
				}
			}
			&-title {
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 19px;
				text-transform: uppercase;
				color: #2C2C2C;
				text-align: center;
			}
		}
		&-list {
			background: #F7F6F5;
			padding-top: 80px;
			min-height: 500px;
			box-sizing: border-box;
			position: relative;
			padding-bottom: 49px;

			&-title {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 20px;
				color: #262626;
				margin-bottom: 40px;
			}
			.wrapper {
				max-width: 1132px;
			}
			.fade-enter-active, .fade-leave-active {
			  width: calc(100% / 4 - 22px);
			  opacity: 1;
			}
			.fade-enter, .fade-leave-to {
			  opacity: 0;
			}
			.fade-enter .home-products-list__item-title,
			.fade-leave-to .home-products-list__item-title,
			.fade-enter .home-products-list__item-veg,
			.fade-leave-to .home-products-list__item-veg {
				opacity: 0;
			}
			&__item {
				margin: 0 11px 68px;
				display: inline-block;
				vertical-align: top;
				width: calc(100% / 4 - 22px);
				cursor: pointer;
				padding: 57px 27px 37px;
				box-sizing: border-box;
				border-radius: 2px;
				transition: .2s;
				position: relative;

				&:hover {
					background: #fff;
					box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.13), 0px 8px 8px rgba(0, 0, 0, 0.22);

					.home-products-list__item-title {
						color: #682387;
					}
				}

				&-img {
					max-height: 100%;
					max-width: 100%;
					width: auto;
					height: auto;
					object-fit: contain;

					&-container {
						width: 100%;
						max-width: 226px;
						height: 166px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						margin: 0 auto;
						position: relative;
					}
				}
				&-veg {
					position: absolute;
					bottom: 10px;
					right: 10px;
					width: 45px;
					height: 45px;
					background: #FFFFFF;
					box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
					opacity: 0;
					background-image: url('../img/icons/veg.svg');
					background-size: 27px;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 50px;
					transition: .2s;

					&-yes {
						opacity: 1;
					}
				}
				&-title {
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 26px;
					text-align: center;
					color: #727272;
					text-align: center;
					margin-top: 7px;
					transition: .2s;
				}
				&-size {
					position: absolute;
					top: 22px;
					left: 20px;

					&-title {
						font-family: Roboto;
						font-size: 16px;
						font-weight: 500;
						line-height: normal;
						letter-spacing: normal;
						color: #2c2c2c;
						margin-right: 16px;
						display: inline-block;
						vertical-align: middle;
					}
					&__item {
						line-height: 22px;
						min-width: 22px;
						padding: 0 5px;
						box-sizing: border-box;
						text-align: center;
						display: inline-block;
						vertical-align: middle;
						font-family: Roboto;
						font-size: 12px;
						font-weight: 500;
						letter-spacing: normal;
						color: #2c2c2c;
						background: #fbe05a;
						margin-right: 4px;
						border-radius: 50px;
						text-align: center;
					}
				}
			}
		}
		&-more {
			border-radius: 4px;
			background: #FFFFFF;
			border: 1px solid #cfcecd;
			border-radius: 4px;
			text-decoration: none;
			display: table;
			padding: 19px 17px;
			position: absolute;
			bottom: 40px;
			left: 50%;
			transform: translateX(-50%);

			&-title {
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
				color: #2C2C2C;
				vertical-align: middle;
				text-transform: uppercase;
			}
			&-img {
				margin-left: 20px;
				width: 12px;
				height: 11px;
				vertical-align: middle;
			}

		}
  	}
  	.top-baner {
  		position: relative;
  		height: 400px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;

  		&-wrapper {
  			position: relative;
  			z-index: 1;
  			padding-left: 100px;
  		}
  		&-img {
  			position: absolute;
  			top:0;
  			left: 0;
  			width: 100%;
  			height: 100%;
  			object-fit: cover;
  			border-radius: 14px;

  			&-about {
  				position: absolute;
  				top: 4px;
  				right: 104px;
  				width: 100%;
  				max-width: 480px;
  				z-index: 1;
  			}
  			&-home {
  				position: absolute;
  				right: 154px;
  				bottom: 0;
  				width: 100%;
  				max-width: 406px;
  				z-index: 1;
  			}
  		}
  		&-title {
			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 62px;
			line-height: 62px;
			color: #FFFFFF;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.62);
			margin-bottom: 25px;

			&-main {
				  font-family: Roboto;
				  font-size: 28px;
				  font-weight: 900;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 1.43;
				  letter-spacing: normal;
				  color: #fbe05a;
			}
  		}
  		&-subtitle {
  			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 26px;
			line-height: 62px;
			text-transform: uppercase;
			color: #1F1F1F;
			padding: 0 26px;
			margin-bottom: 10px;
			background: #FBE05A;
			display: table;
  		}
  	}
  	.product-menu-page .home-products-list {
  		padding-top: 50px;
  		padding-bottom: 0;
  		min-height: 120px;

  		.wrapper {
  			padding: 0 16px;
  		}
  		&:nth-child(odd) {
  			background: #fff;

  			.home-products-list__item:hover {
  				background: #F7F6F5;
	  		}
  		}

  	}
  	.text-page {
  		padding-bottom: 100px;

  		.subtitle + .desc, .subtitle + .title-small {
  			margin-top: 55px;
  		}
  		.title-small {
  			margin-top: 37px
  		}
  		.list, .desc {
  			margin-top: 25px;
  		}
  		.list + .desc {
  			margin-top: 43px;
  		}
  	}
  	.careers-page {

  		.pepper-2 {
		    width: 237px;
		    position: absolute;
		    top: -49px;
		    right: -24px;
  		}
  	}
  	.reviews-page {
  		padding-bottom: 100px;

  		.common-wrapper {
  			margin-top: 50px;
  			padding-bottom: 40px;
  		}
  		.title, .subtitle {
  			max-width: 710px;
  			margin: 0 auto;
  		}
  		.subtitle {
  			margin-top: 11px;
  		}
  		.contact-errors-list {
  			position: relative;
			top: 5px;
			left: 8px;

			&__item {
			    font-family: Roboto;
			    font-style: normal;
			    font-weight: 500;
			    font-size: 14px;
			    line-height: 18px;
			    color: #D0004B;
			    margin-top: 7px;
			}
		}
		.success-message {
			font-family: Roboto;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 14px;
		    line-height: 18px;
		    color: #000;
		    margin-top: 7px;
		    margin-left: 8px;
		}
  	}
  	.contact-form {
  		padding-top: 35px;
  		max-width: 710px;
  		margin: 0 auto;

  		&-end {
  			position: relative;
  		}
  	}
  	.form-input-wrapper {
  		display: inline-block;
  		vertical-align: top;
  		width: calc(50% - 16px);
		margin: 20px 8px 0;
  	}
  	.form-textarea-wrapper {
  		width: calc(100% - 16px);

		.form-input {
			height: 142px;
			resize: none;
		}
  	}
  	.form-input {
  		border: 1px solid #5E5E5E;
		border-radius: 2px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: #393939;
		width: 100%;
		padding: 9px 16px;
		box-sizing: border-box;
		outline: 0;
		transition: .2s;
		height: 42px;

		&:focus {
			border: 1px solid #4285F4;
			box-shadow: 0px 0px 6px rgba(66, 133, 244, 0.6);
		}
		&::placeholder {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 0;
			line-height: 22px;
		}
  	}
  	.form-input-label {
  		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 5px;
  	}
  	.form-input-file-wrapper {
  		cursor: pointer;
  		width: auto;
  		margin-top: 30px;
  		transition: .2s;

  		&:hover {
  			opacity: .7;
  		}

  		.form-input-img {
  			width: 21px;
  			height: 23px;
  			display: inline-block;
  			vertical-align: middle;
  			margin-right: 9px;
  		}
  		.form-input-label {
  			display: inline-block;
  			vertical-align: middle;
  			margin-bottom: 0;
  			margin-right: 6px;
  			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			text-decoration-line: underline;
			color: #4285F4;
  		}
  		.form-input {
  			display: none;
  		}
  		.form-input-chosen {
  			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 22px;
			color: #A2A2A2;
			border: 0;
			display: inline-flex;
			justify-content: flex-end;
			vertical-align: middle;
			max-width: 200px;
			overflow: hidden;
			white-space: nowrap;
  		}
  	}
  	.form-checkbox {
  		width: 18px;
  		height: 18px;
		background: #D7D7D7;
		border-radius: 2px;
		display: inline-block;
		vertical-align: middle;
		background-size: cover;
		background-position: center;
		transition: .2s;

		&.active {
			background-image: url('../img/icons/check-hover2.svg');
		}
  		&-container {
	  		position: relative;
	  		display: table;
	  		margin: 34px 8px 0;
	  		transition: .2s;
			cursor: pointer;

			&:hover {
				opacity: .7;
			}
  		}
  		&-input {
  			display: none;
  		}
  		&-title {
  			margin-left: 7px;
  			display: inline-block;
			vertical-align: middle;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: #404040;
  		}
  	}
  	.form-button {
  		margin-top: 35px;
  		margin-left: 8px;
		background: #4285F4;
		border-radius: 2px;
		padding: 9px 29px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.5px;
		color: #FFFFFF;
		border: 0;
		cursor: pointer;
		transition: .2s;
		outline: 0;

		&:hover {
			opacity: .7;
		}
  	}
  	.privacy-page {
  		padding-bottom: 100px;

  		.top-baner-icon {
  			width: 236px;
  			position: absolute;
  			top: 50%;
  			transform: translateY(-50%);
  			right: 98px;
  		}
  		.top-baner-title {
  			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 26px;
			line-height: 62px;
			color: #FBE05A;
			margin: 0;
  		}
  		.top-baner-subtitle {
  			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 62px;
			line-height: 62px;
			text-transform: uppercase;
			color: #FFFFFF;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.62);
			background: transparent;
			max-width: 592px;
			padding: 0;
			margin-top: -10px;
  		}
  		.common-wrapper {
  			margin-top: 100px;
  			padding: 100px 215px 100px 100px;
  		}
  		.title-small {
  			margin-top: 26px;
  		}
  		.desc {
  			margin-top: 40px;
  		}
  		.privacy-common-wrapper .title-small:first-child {
  			margin-top: 40px;
  		}
  	}
  	.about-page {
  		.home-about {
  			padding: 50px 0 100px;
  		}
  	}
  	.special-offers {
  		text-align: center;
  		padding-bottom: 100px;
  		text-decoration: none;

  		.top-baner {
  			align-items: center;
  			overflow: visible;

  			&-wrapper {
  				padding: 0;
  			}
  			&-kebab-img {
  				width: 485px;
  				position: absolute;
  				bottom: -49px;
  				right: 137px;
  				z-index: 2;
  			}
  			&-vector {
  				width: 115px;
			    position: absolute;
			    bottom: 60px;
			    right: 37px;
			    z-index: 2;
  			}
  			&-vector2 {
			    width: 145px;
			    position: absolute;
			    bottom: 60px;
			    left: 77px;
			    z-index: 2;
  			}
  			&-vector3 {
		        width: 165px;
			    position: absolute;
			    top: 80px;
			    left: 77px;
			    z-index: 2;
  			}
  			&-vector4 {
		        width: 165px;
			    position: absolute;
			    top: 80px;
			    right: 77px;
			    z-index: 2;
  			}
  			&-img {
  				border-radius: 14px;
  			}
  			&-title {
  				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 50px;
				line-height: 80px;
				text-transform: uppercase;
				color: #FFFFFF;
				margin: 0;
  			}
  			&-subtitle {
  				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 160px;
				line-height: 130px;
				text-transform: uppercase;
				color: #FBE05A;
				background: transparent;
				max-width: 505px;
				margin: 0 auto;
				text-align: left;
				margin-top: -5px;
  			}
  		}
  		.special-offers-list {
  			width: calc(100% + 42px);
  			margin-left: -21px;
  			margin-top: 8px;

  			&__item {
  				box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
				border-radius: 2px;
				margin: 42px 21px 0;
				width: calc(50% - 42px);
				display: inline-block;
				vertical-align: top;
				height: 417px;
				padding: 60px;
				box-sizing: border-box;
				position: relative;
				overflow: hidden;
				text-align: left;

				&-title {
					font-family: Roboto;
					font-style: normal;
					font-weight: 900;
					font-size: 40px;
					line-height: 44px;
					text-transform: uppercase;
					color: #FFFFFF;
					max-width: 350px;
				}
				&-subtitle {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
					color: #FFFFFF;
					margin-top: 30px;
					position: relative;
					max-width: 290px;
					display: table;

					&:before {
						content: '';
						display: table;
						width: 64px;
						height: 4px;
						background: #FBE05A;
						position: absolute;
						top: -18px;
						left: 0;
					}

					&.spec {
						margin-top: 13px;
						font-weight: 500;
						font-size: 16px;
						line-height: 24px;
						color: #1B1B1B;
						background: #FBE05A;
						padding: 0 5px;

						&:before {
							display: none;
						}
					}
					&.spec + .spec {
						margin-top: 5px;
					}
				}
				&-button {
					margin-top: 25px;
					padding: 10px 16px;
					border: 1px solid #fff;
					box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);					border-radius: 1px;
					display: table;
					border-radius: 1px;

					&-img {
						width: 10px;
						height: 8px;
						display: inline-block;
						vertical-align: middle;
						margin-left: 7px;
					}
					&-title {
						display: inline-block;
						vertical-align: middle;
						font-family: Roboto;
						font-style: normal;
						font-weight: 500;
						font-size: 12px;
						line-height: 14px;
						color: #fff;
					}
				}
  			}
  			&__item1 {
  				background: #D0004B;

  				.special-offers-list__item-img {
  					width: 138px;
  					top: 109px;
  					right: 30px;
  					position: absolute;
  				}
  				.special-offers-list__item-img2 {
  					width: 241px;
  					bottom: -15px;
  					right: -8px;
  					position: absolute;
  				}
  				.special-offers-list__item-subtitle:before {
  					background: #fff;
  				}
  			}
  			&__item2 {
  				background-color: #1b1b1b;
  				background-image: url('../img/special-offers/2/bg.png');
  				background-size: cover;
  				background-position: top 25% left 50%;
  				background-repeat: no-repeat;

  				.special-offers-list__item-subtitle {
  					max-width: 319px;
  				}
  				.special-offers-list__item-img {
  					width: 153px;
  					bottom: 32px;
  					right: 35px;
  					position: absolute;
  				}
  			}
  			&__item3 {
  				background: #002F89;
  				background-image: url('../img/special-offers/3/bg.png');
  				background-size: cover;
  				background-position: center;
  				background-repeat: no-repeat;

  				.special-offers-list__item-img {
  					width: 140px;
  					bottom: 45px;
  					left: 58px;
  					position: absolute;
  				}
  				.special-offers-list__item-img2 {
  					width: 200px;
  					bottom: 30px;
  					right: 50px;
  					position: absolute;
  				}
  			}
  			&__item4 {
  				background: #2B1552;

  				.special-offers-list__item-img {
  					width: 140px;
  					bottom: 55px;
  					left: 60px;
  					position: absolute;
  				}
  				.special-offers-list__item-img2 {
  					width: 230px;
  					bottom: 15px;
  					right: 20px;
  					position: absolute;
  				}
  			}
  		}
  	}
  	.bonus-card {
  		padding-bottom: 100px;

  		.common-wrapper {
  			margin-top: 60px;
  			padding: 100px 150px 100px 100px;

  			.paprika {
  				width: 378px;
  				position: absolute;
  				right: 52px;
  				top: -55px;
  			}
  		}
  		.top-baner {

  			&-card-img {
  				width: 256px;
  				position: absolute;
  				right: 100px;
  				top: 50%;
  				transform: translateY(-50%);
  			}
  			&-arrow {
  				width: 100px;
  				position: absolute;
  				right: 360px;
  				top: 80px;
  			}
  			&-arrow2 {
  				width: 100px;
  				position: absolute;
  				right: 145px;
  				bottom: 20px;
  			}
  		}
  	}
  	.our-restaurants {
  		padding-bottom: 58px;

  		#marker {
			background-image: url('../img/icons/map/pin-big.svg');
			background-size: cover;
			background-repeat: no-repeat;
			width: 28px;
			height: 39px;
			border-radius: 50%;
			cursor: pointer;
		}
  		#map {
		  width: 100%;
		  height: 470px;
		}
	  	.restaurants-wrapper {
	  		margin-top: 50px;
	  		max-width: 1152px;
	  	}
	  	&__item {
	  		display: inline-block;
	  		vertical-align: top;
	  		width: calc(50% - 42px);
	  		margin: 0 21px 42px;
	  		box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
			border-radius: 2px;
			padding: 55px 10px 53px 53px;
			box-sizing: border-box;

			&-title {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 29px;
				color: #262626;
			}
			&-icon-list {
				margin: 8px 0 28px;
			}
			&-icon {
				width: 30px;
				height: 25px;
				display: inline-flex;
				vertical-align: top;
				justify-content: center;
				align-items: center;

				&-img {
					width: 70%;
				}
			}
			&-text + .our-restaurants__item-text {
				margin-top: 16px;
			}
			&-text-icon {
				width: 17px;
				vertical-align: middle;
				margin-right: 8px;
			}
			&-text-title {
				vertical-align: middle;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 29px;
				color: #00635B;
			}
	  	}
	  	.mapboxgl-ctrl {
	  		&-bottom-left,
	  		&-bottom-right,
	  		&-compass {
	  			display: none;
	  		}
	  		&-top-right .mapboxgl-ctrl {
	  			float: none;
			    margin: 0;
			    background: no-repeat;
			    box-shadow: none;
	  		}
	  		&-top-right {
	  			top: 172px;
	  		}
	  		&-group > button {
		  		width: 48px;
		  		height: 48px;
		  		background-color: #FFFFFF;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
				border-radius: 4px;
				margin: 10px 0;
				background-image: none;
				transition: .2s;

				&:before {
	  				content: '+';
	  				display: block;
					width: 100%;
					height: 100%;
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 32px;
					line-height: 48px;
					color: #000000;
				}
				&.mapboxgl-ctrl-zoom-out {
					&:before {
						content: '-';
						font-size: 38px;
    					line-height: 45px;
					}
				}
				&:hover {
					opacity: .7;
				}
		  	}
	  	}
	  	.mapboxgl-control-container {
	  		max-width: 1110px;
		    width: 100%;
		    margin: 0 auto;
		    position: absolute;
		    top: 0;
		    left: 50%;
		    transform: translateX(-50%);
		    height: 0;
	  	}
	  	.marker-icon {
	  		width: 28px;
	  		cursor: pointer;
	  	}
	  	.mapboxgl-popup {
  		    position: absolute;
		    display: -webkit-flex;
		    will-change: transform;
		    pointer-events: none;
		    left: calc(100% - 1110px - ((100% - 1110px)/2));
		    top: 50%;
		    transform: translateY(-50%) !important;
	        max-width: 100% !important;
    		width: auto;
    		min-width: 298px;

	  		&-tip {
	  			display: none;
	  		}
	  		&-content {
	  			padding: 30px 26px;
	  		}
	  		&-title {
	  			font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #262626;
	  		}
	  		&-icon-list {
	  			margin-top: 10px;

	  			&__item {
		  			width: 15px;
		  			height: 15px;
		  			display: inline-flex;
		  			justify-content: center;
		  			align-items: center;
		  			flex-direction: column;
		  			margin-right: 10px;

		  			&-img {
		  				width: 90%;
		  			}
		  		}
	  		}
	  		&-close-button {
	  			font-size: 0;
	  			width: 10px;
	  			height: 10px;
	  			padding: 0;
	  			top: 10px;
	  			right: 10px;
	  			background-image: url('../img/icons/map/close.svg');
	  			background-size: cover;
	  			background-position: center;
	  			transition: .2s;

	  			&:hover {
	  				opacity: .7;
	  			}
	  		}
	  		&-info {
	  			margin-top: 15px;

	  			&__item {

	  				& + .mapboxgl-popup-info__item {
		  				margin-top: 8px;
		  			}
		  			&-title {
		  				display: inline-block;
		  				vertical-align: middle;
		  				font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
						color: #7E7E7E;
	  				}
	  				&-value {
	  					display: inline-block;
		  				vertical-align: middle;
		  				font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
						color: #000000;
						margin-left: 5px;
	  				}
	  			}
	  		}
	  	}
  	}
  	.cookie {
  		position: fixed;
  		left: 0;
  		bottom: 0;
  		height: 80px;
  		width: 100%;
		background: #7124B4;
		display: table;
		padding: 0 96px;
		box-sizing: border-box;
		z-index: 10;

		&__floating {

			&__wrap {
				display: table-cell;
				vertical-align: middle;
			}
			&__content {
	  			font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 32px;
				color: #FFFFFF;
				width: calc(100% - 205px);
				display: inline-block;
				vertical-align: middle;

				a {
					color: #fff;
				}
	  		}
	  		&__buttons {
	  			width: 205px;
	  			text-align: right;
	  			display: inline-block;
	  			vertical-align: middle;

	  			&__button--decline {
	  				display: none;
	  			}
	  			&__button--accept {
	  				background: #FFFFFF;
					border-radius: 100px;
					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 40px;
					text-transform: uppercase;
					color: #262626;
					min-width: 88px;
					border: none;
					outline: 0;
					cursor: pointer;
					transition: .2s;

					&:hover {
						opacity: .7;
					}
	  			}
	  		}
		}
  	}
  	.footer {
  		background: #1F1F1F;
  		padding-bottom: 0;

  		&.no-coockie {
  			padding-bottom: 80px;
  		}
  		&-wrapper {
		    display: flex;
		    flex-direction: row;
		    align-items: flex-start;
		    vertical-align: middle;
  			width: 100%;
  			padding: 40px 24px 30px;
  			max-width: 1158px;
  			margin: 0 auto;
  			box-sizing:border-box;
  			position: relative;
  		}
  		&-wrapper:first-child .footer-left-wrapper {
  			position: absolute;
  			left: 24px;
  			top: 50%;
  			transform: translateY(-50%);
  		}
  		&-wrapper:nth-child(2) {
  			width: 100%;
  			padding: 18px 5%;
  			border-top: 1px solid rgba(255, 255, 255, 0.27);

  			.footer-right {
  				text-align: right;
  				vertical-align: middle;

  				.footer-text {
  					text-transform: uppercase;
  				}
  			}
  			.footer-center {
  				vertical-align: middle;
  			}
  		}

  		&-left {
  			width: calc(100%/3);
  			vertical-align: middle;
  			text-align: center;

  			.logo-img {
  				max-width: 167px;
  				width: 100%;
  			}
  		}
  		&-center {
  			width: calc(100%/3);
  			vertical-align: top;
  			text-align: center;
  			padding: 0 12px;
  			padding-left: 4%;

  			.footer-nav {
  				text-align: left;

  				&-column {
  					display: inline-block;
  					vertical-align: top;
  					width: 50%;
  					box-sizing: border-box;

  					&:nth-child(2) {
  						padding-left: 10%;
  					}
  				}
  				&-title {
  					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 15px;
					line-height: 32px;
					color: #FBE05A;
  				}
  				&-list {
  					margin-top: 9px;

  					&__item {
  						display: table;
  						font-family: Roboto;
						font-style: normal;
						font-weight: 500;
						font-size: 13px;
						line-height: 26px;
						color: #FFFFFF;
						text-decoration: none;
						cursor: pointer;
						transition: .2s;

						&:hover {
							opacity: .7;
						}
  					}
  				}
  			}
  			.footer-link {
  				margin: 0 15px;

  				&-img {
  					fill: red;
  				}
  			}
  		}
  		&-right {
  			width: calc(100%/3);
  			vertical-align: top;
  			text-align: center;
  			padding-left: 5%;

  			.email-form {
  				text-align: left;
  				max-width: 327px;
  				margin: 0 0 0 auto;

  				&-title {
  					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 15px;
					line-height: 32px;
					color: #FBE05A;
  				}
  				&-subtitle {
  					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 13px;
					line-height: 22px;
					color: #FFFFFF;
					margin-top: 9px;
  				}
  				&-input-wrapper {
  					width: 100%;
  					margin-top: 20px;
  					position: relative;
  				}
  				&-button {
  					width: 40px;
  					height: 40px;
  					position: absolute;
  					right: 16px;
  					top: 50%;
  					margin-top: -20px;
					background-color: transparent;
					border: 0;
  					background-image: url('../img/icons/enter.svg');
  					background-size: cover;
  					cursor: pointer;
  					transition: .2s;
  					outline: 0;

  					&:hover {
  						opacity: .7;
  					}
				}
  				&-input {
  					width: 100%;
  					line-height: 56px;
  					height: 56px;
  					padding: 0 90px 0 21px;
  					background: #FFFFFF;
					border-radius: 4px;
					border: 0;
					box-sizing: border-box;
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					color: rgba(69, 69, 69, 1);
					outline: 0;

					&::placeholder {
						color: rgba(69, 69, 69, 0.5);
					}
  				}
  				&-checkbox-container {
  					margin-top: 30px;
  					position: relative;
  					cursor: pointer;
  					display: block;
  					background-size: cover;
  					transition: .2s;

  					&:hover {
  						opacity: .7;
  					}
  				}
  				&-checkbox-input {
  					opacity: 0;
  					top: 0;
  					left: 0;
  					position: absolute;
  					z-index: -1;
  				}
  				&-checkbox {
  					display: inline-block;
  					vertical-align: middle;
  					width: 18px;
  					height: 18px;
  					background: #00BBAA;
  					border-radius: 2px;
  					transition: .2s;
  					background-size: cover;

  					&.active {
  						background-image: url('../img/icons/check-hover.svg');
  					}
  				}
  				&-checkbox-title {
  					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 18px;
					color: #FFFFFF;
					margin-left: 7px;
					vertical-align: middle;
					display: inline-block;
					transform: translateY(1px);
					width: calc(100% - 25px);
  				}
  				.footer-errors-list {
  					position: relative;
  					top: 6px;
  					left: 0;

  					&__item {
					    font-family: Roboto;
					    font-style: normal;
					    font-weight: 500;
					    font-size: 14px;
					    line-height: 18px;
					    color: #D0004B;
					    margin-top: 7px;
  					}
  				}
  				.success-message {
  					position: relative;
  					top: 6px;
  					left: 0;
  					font-family: Roboto;
				    font-style: normal;
				    font-weight: 500;
				    font-size: 14px;
				    line-height: 18px;
				    color: #fff;
				    margin-top: 7px;
  				}
  			}
  		}
  		&-text {
  			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 19px;
			color: #C9C9C9;
			text-decoration: none;
  		}
  	}
	.fade-enter-active, .fade-leave-active {
	  transition: .2s;
	}
	.fade-enter, .fade-leave-to {
	  opacity: 0;
	}

	.video-dialog {
		.el-dialog__header {
			display: none;
		}
		.el-dialog__body {
			padding: 0;
			line-height: 0;
		}
		iframe {
			width: 100% !important;
		}
	}
	.underconstruction {
	    position: fixed;
	    height: 100vh;
	    width: 100%;
	    background: #fff;
	    top: 0;
	    left: 0;
	    z-index: 1000000;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: 900;
	    font-size: 26px;
	    line-height: 30px;
	    letter-spacing: 1px;
	    color: #2C2C2C;
	    text-align: center;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;

	    .logo-img {
	    	max-width: 160px;
	    	max-height: 69px;
	    }
	}
	.product-dialog {
		max-width: 1110px;
		width: 100%;

		&-left {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding-right: 55px;
			box-sizing: border-box;
		}
		.no-alergen .product-dialog-left {
			width: 100%;
			padding: 0;
			text-align: center;
		}
		&-right {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding-left: 55px;
			box-sizing: border-box;
		}
		.el-dialog__header {
			padding: 0;
		}
		.el-dialog__body {
			padding: 50px 140px;
			word-break: normal;
		}
		.el-dialog__headerbtn {
			width: 40px;
			height: 40px;
			top: 28px;
			right: 30px;
			font-size: 0;
			background: url('../img/icons/close.svg');
			background-size: cover;
			background-position: center;
			transition: .2s;

			&:hover {
				opacity: .7;
			}
		}
		&-title {
			font-family: Roboto;
			font-size: 22px;
			font-weight: bold;
			line-height: normal;
			letter-spacing: normal;
			color: #2c2c2c;
			text-transform: uppercase;
			padding-right: 32px;
		}
		.no-alergen .product-dialog-title {
			padding: 0 32px;
		}
		.product-dialog-title + .product-dialog-title {
			margin-left: 10px;
		}
		&-sizes {
			margin-top: 10px;

			&__item {
				border-radius: 3px;
				background-color: #fbe05a;
				margin-right: 4px;
				display: inline-block;
				vertical-align: top;
				padding: 0 12px;
				font-family: Roboto;
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 26px;
				letter-spacing: normal;
				color: #2c2c2c;
			}
		}
		&-img {
			width: 100%;
			height: auto;
			object-fit: contain;

			&-container {
				max-width: 270px;
				max-height: 270px;
				margin: 25px auto 9px 0;
				display: flex;
			}
		}
		.no-alergen .product-dialog-img-container {
			margin: 25px auto 0;
		}
		&-text {

			&-title {
				font-family: Roboto;
				font-size: 22px;
				font-weight: 500;
				line-height: normal;
				letter-spacing: normal;
				color: #2c2c2c;
				word-break: break-word;
			}
			&-desc {
				font-family: Roboto;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.43;
				letter-spacing: normal;
				color: #2c2c2c;
				margin-top: 8px;
				word-break: break-word;
			}
		}
		&-allergens {
			margin-top: 11px;

			&__item {
				background-color: #e2eeff;
				padding-left: 17px;
				position: relative;

				&-wrapper.active:after {
					content: '';
					display: block;
					width: 12px;
					height: 12px;
					border-radius: 50px;
					position: absolute;
					right: 20px;
					top: 50%;
					margin-top: -6px;
					background: #009688;
				}

				&-img {
					max-width: 100%;
					max-height: 100%;

					&-container {
						width: 26px;
						height: 20px;
						display: inline-flex;
						justify-content: flex-start;
						align-items: center;
						vertical-align: middle;

					}
				}
				&-title {
					margin-left: 22px;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: normal;
					color: #2c2c2c;
					vertical-align: middle;
					display: inline-block;
				}
			}
			&__item + .product-dialog-allergens__item {
				margin-top: 4px;
			}
		}

	}
	.careers-page .common-wrapper {
		margin-top: 50px;
	}
}
.we-are-open {
	background-size: contain;
	background-position: center;
	background-color: #fff;
	background-repeat: no-repeat;

	&.en {
		background-image: url('../img/new-banners/order-banner-eng.png');
	}
	&.lv {
		background-image: url('../img/new-banners/order-banner-lv.png');
	}
	&.ru {
		background-image: url('../img/new-banners/order-banner-ru.png');
	}
}
.riga-plaza-open {
	background-size: contain;
	background-position: center;
	position: relative;
	background-image: url('../img/new-banners/new-banner2-bg.png');

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&.en:after {
		background-image: url('../img/new-banners/new-banner2-eng.png');
	}
	&.lv:after {
		background-image: url('../img/new-banners/new-banner2.png');
	}
	&.ru:after {
		background-image: url('../img/new-banners/new-banner2-ru.png');
	}
}

.open-time {
    font-size: 14px;
    line-height: 16px;
    padding-left: 25px;
}
@media screen and (max-width: 1200px) {
	body {
		.page {
			padding-top: 72px;
		}
		.wrapper {
	    	padding: 0 16px;
		}
		.header .header-wrapper {
			padding: 0 16px;
		}
		.special-offers .special-offers-list__item {
			width: calc(50% - 16px);
			margin: 16px 8px 0;
		}
		.home-baner-container .el-carousel__indicators {
			left: 24px;
		}
		.top-baner {
		    width: calc(100% + 32px);
    		margin-left: -16px;
		    border-radius: 0;

		    &-img {
		        object-fit: cover;
				object-position: center;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
				border-radius: 0 !important;
		    }
		    &-wrapper {
		    	padding-left: 16px;
		    }
		}
		.home-baner-container .el-carousel-wrapper {
			padding: 29px 24px;
		}
		.home-baner-container .el-carousel__arrow {
			display: none !important;
		}
		.home-baner-container .el-carousel-container.te-ir-darbs .el-carousel-img3 {
		    height: 290px;
    		right: -60px;
		}
		.home-baner-container .el-carousel-container.te-ir-darbs .el-carousel-img2 {
			height: 280px;
		}
		.home-baner-container .el-carousel-container.te-ir-darbs .el-carousel-img1 {
		    height: 310px;
		    left: 4px;
		}
		.home-baner-container .el-carousel-container.te-ir-darbs .el-carousel-title {
			max-width: 330px;
			font-size: 70px;
		}
		.top-baner-img-home {
		    right: 54px;
    		max-width: 346px;
		}
		.top-baner-img-about {
			top: 34px;
		    right: 0;
		    max-width: 340px;
		}
		.header {
			height: 72px;
			.header-wrapper {
				height: 72px;
			}
			.header-center .logo-img {
				max-width: 95px;
			}
			.map-link-container {
				display: none;
			}
		}
		.careers-page .pepper-2 {
			display: none;
		}
		.common-wrapper {
			padding: 32px;
		}
		.text-page .subtitle + .desc,
		.text-page .subtitle + .title-small {
		    margin-top: 35px;
		}
		.text-page {
			padding-bottom: 16px;
		}
		.home-products {
			.filters-wrapper {
				top: 72px;
				overflow: hidden;
			}
			&-list {
				padding-bottom: calc(120px - 6vw);

				&__item {
					margin-bottom: 6vw;

					&-img-container {
					    height: 13vw;
					}
				}
			}
		}
		.reviews-page .common-wrapper {
			margin-top: 30px;
		}
		.home-page .home-about .kompl-img {
			width: 239px;
			left: 0;
    		top: 0;
    		position: relative;
		}
		.home-about-right {
			vertical-align: top;
		}
		.home-about-bigtitle {
			font-size: 70px;
			font-weight: 900;
			font-stretch: normal;
			font-style: normal;
			line-height: 1;
			letter-spacing: -4px;
			color: #7124b4;
		}
		.home-about .tomatos-img {
		    right: auto;
		    left: 130px;
		}
		.home-products .filters {
			height: 189px;
		}
		.home-products-filters {
			padding-bottom: 0;
			padding-top: 5px;
		}
		.home-products .filters-wrapper>.wrapper {
			padding: 0;
		}
		.home-products .filters-list {
		    white-space: nowrap;
		    overflow: auto;
	        width: calc(100% - 16px);
		    margin-left: 0;
		    padding: 0 16px;
			&__item {
				width: auto;
				margin-right: 22px;
				padding-bottom: 18px;
				&:last-child {
					margin-right: 16px;
				}
				&:after {
					bottom: 0;
				}
			}
		}
		.home-products .filters.active .home-products-filters {
		    padding-top: 16px;
    		padding-bottom: 0;
		    width: 100%;
    		margin: 0;
		}
		.cookie {
			padding: 10px 16px;
			height: 86px;

			&__floating__content {
				font-size: 16px;
				width: calc(100% - 80px);
				line-height: 22px;
			}
			&__floating__buttons {
				width: 80px;

				&__button--accept {
				    font-size: 16px;
	    			line-height: 32px;
				    min-width: 68px;
				}
			}
		}
		.footer.no-coockie {
			padding-bottom: 86px;
		}
		.footer-wrapper {
			padding: 20px 16px 20px;
		}
		.footer-left {
			width: 20%;
			.logo-img {
				max-width: 157px;
			}
		}
		.footer-center, .footer-right {
			width: 40%;
		}
		.footer-right .email-form {
			margin: 0;
		}
		.footer-wrapper:nth-child(2) {
			padding: 18px 16px;
			.footer-left,
			.footer-right,
			.footer-center {
				width: calc(100%/3);
			}
			.footer-left {
				text-align: left;
			}
			.footer-text {
				font-size: 15px;
			}
		}
		.our-restaurants {

			&__item {
				padding: 35px 33px 33px;
				&-text-title {
				    font-size: 18px;
	    			line-height: 24px;
				}
			}
			.mapboxgl-ctrl-top-right {
				right: 16px;
				top: 68px;
			}
			.mapboxgl-popup {
				transform: none !important;
				bottom: 16px;
				top: auto;
				left: 16px;
				max-width: calc(100% - 32px) !important;

				&-info__item:last-child {
					display: none;
				}
			}
		}
		.special-offers {
			padding-bottom: 40px;

			.top-baner {

				&-kebab-img {
				    width: 225px;
				    bottom: 95px;
				    transform: translateX(50%);
				    right: calc(50% - 80px);
				}

				&-vector {
					display: none;
				}
				&-vector2 {
					display: none;
				}
				&-vector3 {
					display: none;
				}
				&-vector4 {
					display: none;
				}
				&-title {
					font-size: 31px;
					font-weight: bold;
					line-height: 1.29;
					letter-spacing: normal;
					padding: 0 26px;
					text-align: left;
					margin-top: -50px;
				}
				&-subtitle {
					font-size: 100px;
					font-weight: bold;
					line-height: 0.8;
					letter-spacing: normal;
					max-width: 370px;
				}
				&-vector4 {
					width: 94px;
				}
				&-vector3 {
					width: 102px;
				}
				&-vector3 {
					width: 92px;
				}
				&-vector {
					width: 82px;
				}
			}
			.special-offers-list__item {
			    width: 100%;
    			margin: 16px 0 0;
			}
		}
		.bonus-card {
			.top-baner-arrow {
				right: 320px;
			}
			.top-baner-card-img {
				width: 216px;
			}
		}
		.privacy-page {

			.top-baner-icon {
				right: 16px;
			}
			.common-wrapper {
				margin-top: 40px;
				padding: 50px;
			}
		}
		.product-dialog {

			.el-dialog__body {
				padding: 60px 35px 40px;
			}

		}
	}
}
@media screen and (max-width: 1100px) {
	body .home-baner-container .el-carousel-container.draudziga .el-carousel-subtitle {
		font-size: 40px;
    	line-height: 55px;
    	padding: 0;
		
		img {
			display: none;
		}
	}
}
@media screen and (max-width: 768px) {
	body {
		.form-button:hover {
			opacity: 1;
		}
		.page {
			padding-top: 62px;
		}
		.header {
			height: 62px;
			.header-wrapper {
				height: 62px;
			}
			.menu-icon {
				width: 20px;
			}
		}
		.top-baner {
			height: 218px;
		    &-title {
		    	font-family: Roboto;
				font-style: normal;
				font-weight: 900;
				font-size: 40px;
				line-height: 50px;
				color: #FFFFFF;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.62);
				margin-bottom: 0;
		    }
		    &-subtitle {
		    	font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 13px;
				line-height: 22px;
				text-transform: uppercase;
				color: #1F1F1F;
				margin-bottom: 4px;
				padding: 1px 7px;
		    }
		}
		.top-baner-img-about {
		    top: 19px;
    		max-width: 190px;
		}
		.top-baner-img-home {
    		max-width: 186px;
    		right: 14px;
		}
		.order-button {
			text-align: center;
			padding: 5px 8px 6px;
			border-radius: 2px;

    		&-title {
				font-weight: 500;
				font-size: 10px;
				line-height: 12px;
				display: block;
    		}
    		&-img {
    			width: 20px;
				margin-right: 0;
				margin-bottom: -1px;
    		}
		}
		.text-page .common-wrapper {
			margin-top: 30px;
			box-shadow: none;
			padding: 0;
		}
		.title {
			font-style: normal;
			font-weight: 900;
			font-size: 12px;
			line-height: 14px;
		}
		.subtitle {
			margin-top: 4px;
			font-style: normal;
			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
		}
		.desc {
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
		}
		.text-page .subtitle + .desc,
		.text-page .subtitle + .title-small {
			margin-top: 30px;
		}
		.careers-text-wrapper {
			box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
			padding: 36px 23px;
			margin-top: 22px;
		}
		.form-input-wrapper {
			margin: 20px auto 0;
			width: 100%;
		}
		.form-input-label {
			display: none;
		}
		.form-input {
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			padding: 12px 16px;
			&::placeholder {
				font-size: 14px;
			}
		}
		.contact-form {
			padding-top: 0;
		}
		.form-checkbox-container {
			margin: 40px 0 0;
			width: 100%;
		}
		.form-button {
			margin: 20px auto 0;
			width: 100%;
			max-width: 343px;
			display: table;
		}
		.form-checkbox-title {
		    width: calc(100% - 26px);
		}
		.reviews-page {
			padding-bottom: 0;

			.common-wrapper {
				margin-top: 0;
				box-shadow: none;
				padding: 30px 0 40px;
			}
			.subtitle {
				margin-top: 4px;
			}
		}
		.title-small {
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
		}
		.text-page .title-small {
			margin-top: 21px;
		}
		.text-page .title-small:first-child {
			margin-top: 0;
		}
		.text-page .list,
		.text-page .desc {
			margin-top: 21px;
		}
		.common-list__item:before {
		    top: 4px;
			margin-top: 0;
		}
		.common-list__item {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			&+ .common-list__item {
				margin-top: 12px;
			}
		}
		.text-page .list + .desc {
			margin-top: 21px;
		}
		.home-products {
			overflow: hidden;
		}
		.home-products {

			&-list {
				padding-top: 27px;

				.wrapper {
					padding: 0 8px;
				}
				&__item {
					margin: 0 8px 20px;
					padding: 30px 10px 10px;

					&-img-container {
					    height: 106px;
					}
					&-size {
						top: 10px;
						left: 10px;

						&-title {
							font-size: 12px;
							font-weight: 500;
							line-height: normal;
							letter-spacing: normal;
							margin-right: 9px;
						}
						&__item {
							line-height: 16px;
							font-size: 9px;
							font-weight: 500;
							letter-spacing: normal;
							color: #2c2c2c;
						}
					}
					&-title {
						font-size: 12px;
						font-weight: 500;
						line-height: normal;
						letter-spacing: normal;
					}
					&-veg {
						background-size: 17px;
						width: 30px;
						height: 30px;
					}
				}
			}
			.filters {
				height: 112px;

				&-list__item {

					&-img-container {
						max-width: 70px;
						height: 70px;
					}
					&:after {
						width: 100%;
					}
					&:hover:after {
						opacity: 0;
					}
					&.active:hover:after {
						opacity: 1;
					}
				}
				&-wrapper {
					top: 62px;
				}
				.filters-list_1,
				.filters-list_2,
				.filters-list_3,
				.filters-list_4 {
					
				}
				.filters-list_5,
				.filters-list_6,
				.filters-list_7,
				.filters-list_8 {
					
				}
			}
			&-more {
				padding: 12px 11px;
				bottom: 30px;

				&-title {
				    font-size: 10px;
    				line-height: normal;
				}
				&-img {
				    margin-left: 7px;
					width: 8px;
					height: 8px
				}
			}
		}
		.footer-left {
			display: none;
		}
		.footer {
			padding: 0 16px;
		}
		.footer-wrapper {
			padding: 33px 0;
			display: block;
		}
		.footer-wrapper:nth-child(2) {
			padding: 30px 0 64px;
			position: relative;
		}
		.footer-right,
		.footer-center {
			padding: 0;
			width: 100%;
			display: block;
		}
		.footer-center .footer-nav-column:nth-child(2) {
			padding: 0;
		}
		.footer-center .footer-nav-list {
			margin-top: 0;
		}
		.footer-center .footer-nav-list__item {
			font-size: 14px;
		}
		.footer-center .footer-nav-title {
			font-size: 16px;
		}
		.footer-right {
			margin-top: 21px;
		}
		.footer-right .email-form-title {
			font-size: 16px;
		}
		.footer-right .email-form-subtitle {
			font-size: 12px;
			line-height: 18px;
			margin-top: 3px;
		}
		.footer-right .email-form-input-wrapper {
			margin-top: 15px;
		}
		.footer-wrapper:nth-child(2) .footer-center,
		.footer-wrapper:nth-child(2) .footer-right {
			text-align: left;
			width: 100%;
		}
		.footer-wrapper:nth-child(2) .footer-center {
			margin-left: -10px;
		}
		.footer-wrapper:nth-child(2) .footer-left {
			display: block;
			position: absolute;
			bottom: 30px;
			left: 0;
			width: 100%;
		}
		.footer-wrapper:nth-child(2) .footer-text {
			font-size: 12px;
		}
		.header .header-center {
			width: 130px;
		}
		.header .header-left,
		.header .header-right {
			width: calc((100% - 130px)/2);
		}
		.home-page>.wrapper {
			padding: 0;
		}
		.home-baner-container {
			border-radius: 0;

			.el-carousel {

				&-wrapper {
					padding: 52px 16px;
				}
				&-container {

					&.te-ir-darbs {

						.el-carousel-wrapper {
							padding: 0;
						}
						.el-carousel-img1 {
						    height: 160px;
		    				left: -16px;
						    bottom: 20px;
						}
						.el-carousel-img2 {
							height: 190px;
						    bottom: 0px;
	    					left: -16px;
						}
						.el-carousel-img3 {
						    height: 170px;
						}
						.el-carousel-title {
						    max-width: 190px;
	    					font-size: 40px;
	    					padding-top: 18px;
						}
						.el-carousel-subtitle {
							font-size: 16px;
							line-height: 1;
							transform: none;
							bottom: 15px;
							right: 25px;

							span {
								font-size: 21px;
								margin-top: 7px;
							}
						}
					}
					&.gimene-slide {

						 .el-carousel-wrapper {
						 	padding: 0 16px;
						 }
						.el-carousel-subtitle {
							font-size: 40px;
							font-weight: 900;
							line-height: 1.25;
						}
						.el-carousel-title {
							font-size: 13px;
							font-weight: bold;
							line-height: 1.69;
							color: #1f1f1f;
							margin-bottom: 20px;

							span {
								padding: 0 6px 0 7px;
								margin-bottom: 4px;

								&:last-child {
									margin-bottom: 0;
								}
							}
						}
						.el-carousel-img1 {
							width: 100px;
							top: 18px;
							right: 33px;
						}
						.el-carousel-img3 {
							width: 115px;
							right: 16px;
							bottom: 29px;
							top: auto;
							transform: none;
						}
					}
					&.draudziga {

						 .el-carousel-wrapper {
						 	padding: 0 16px;
						 }
						.el-carousel-subtitle {
							left: 40px;
							top: 18px;
						    font-size: 24px;
						    line-height: 40px;
						}
						.el-carousel-subtitle2 {
							position: absolute;
							width: 60px;
							height: 50px;
							left: 23px;
							top: 119px;

							font-family: Antonio-Bold;
							font-style: normal;
							font-weight: bold;
							font-size: 44px;
							line-height: 50px;
							/* identical to box height, or 114% */

							display: flex;
							align-items: center;
							letter-spacing: 1px;
							text-transform: uppercase;

							color: #FFFFFF;

							text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.48);
						}
						.el-carousel-subtitle3 {
							position: absolute;
							width: 26px;
							height: 30px;
							left: 88px;
							top: 137px;

							font-family: Antonio-Bold;
							font-style: normal;
							font-weight: bold;
							font-size: 24px;
							line-height: 30px;
							/* identical to box height, or 125% */

							display: flex;
							align-items: center;
							letter-spacing: 1px;
							text-transform: uppercase;

							color: #FFFFFF;

							text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.48);
						}
						.el-carousel-subtitle4 {
							position: absolute;
							width: 21px;
							height: 30px;
							left: 117px;
							top: 140px;

							font-family: Antonio-Bold;
							font-style: normal;
							font-weight: bold;
							font-size: 20px;
							line-height: 30px;
							/* identical to box height, or 150% */

							letter-spacing: 1px;
							text-transform: uppercase;

							color: #FFFFFF;

							text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.48);
						}
						.el-carousel-title {
							position: absolute;
							height: 12px;
							left: 24px;
							top: 201px;
							font-family: Open Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 8px;
							line-height: 12px;
							letter-spacing: 0.3px;

							color: #FFFFFF;

							text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
						}
						.el-carousel-img1 {
							width: 100px;
							top: 18px;
							right: 33px;
						}
						.el-carousel-img2 {
							position: absolute;
							width: 105.04px;
							height: 61.25px;
							left: 153px;
							top: 106.64px;
						}
						.el-carousel-food {
							position: absolute;
							width: 133.72px;
							height: 165.23px;
							left: 240px;
							top: 35.21px;
						}
						.el-carousel-star1 {
							position: absolute;
							width: 20px;
							height: 20px;
							left: 11px;
							top: 23px;
						}
						.el-carousel-star2 {
							position: absolute;
							width: 20px;
							height: 20px;
							left: 239px;
							top: 23px;
						}
					}
					&.covid_19 {

						 .el-carousel-wrapper {
						 	padding: 0 16px;
						 }
						.el-carousel-subtitle5 {
							position: fixed;
							left: 15.47%;
							right: 15.2%;
							top: 28.98%;
							bottom: 39.45%;

							font-family: Roboto;
							font-style: normal;
							font-weight: 500;
							font-size: 9px;
							line-height: 18px;
							/* or 164% */

							text-align: center;
							letter-spacing: 0.5px;

							color: #FF0000;
						}
					}
				}
				&__container {
					height: 218px;
				}
				&-title {
					line-height: 0.77;
				}
				&-subtitle {
					text-shadow: 0 6px 10px rgba(64, 64, 64, 0.4);
					font-size: 36px;
					font-weight: 900;
					line-height: 0.89;
					letter-spacing: normal;
					margin-top: 3px;
					max-width: 200px;
				}
				&__arrow {
					display: none;
				}
				&__indicators {
					left: 16px;
					bottom: 21px;
				}
				&__indicator {
					margin-right: 5px;
				}
				&__button {
					width: 10px;
					height: 10px;

					&:before {
						width: 6px;
						height: 6px;
						top: 1px;
						left: 1px;
					}
				}
			}
		}
		.home-video {
		    padding-top: 97px;
	        height: 231px;

	        .home-video-baner {
	        	height: 231px;
	        	top: auto;
	        	bottom: 0;
	        	width: calc(100% - 32px);
	        	left: 16px;
	        }
	        &-title {
	        	font-size: 16px;
				font-weight: 900;
				line-height: normal;
				letter-spacing: normal;
				color: #2c2c2c;
			    margin: -49px 0 0;
			    text-transform: uppercase;
			    padding-left: 16px;
	        }
	        &-subtitle {
	        	display: block;
	        }
	        .play-button {
	        	width: 59px;
	        	height: 59px;
	        	top: calc(50% + 48px);
	        }
		}
		.home-about {
			padding: 102px 16px 70px;
			position: relative;
			overflow: hidden;

			.common-wrapper {
				position: static;
				padding: 40px 24px;
			}
			&-left {
				width: 100%;
				padding-right: 0;

				.home-about-text-title {
					margin-top: 0;
					font-size: 18px;
					line-height: normal;
				}
				.home-about-text-desc {
					font-size: 12px;
					line-height: 1.5;
					margin-top: 12px;
				}
			}
			&-title {
				font-size: 12px;
				line-height: normal;
				position: absolute;
				top: 35px;
				left: 16px;
			}
			&-subtitle {
				position: absolute;
				margin-top: 0;
				font-size: 16px;
				line-height: normal;
				top: 53px;
				left: 16px;
			}
			.about-link {
				margin-top: 20px;
				padding: 12px 11px;

				&-title {
					font-size: 10px;
					line-height: normal;
				}
				&-img {
					margin-left: 7px;
					width: 8px;
					height: 8px;
				}
			}
			&-bigtitle {
				display: none;

				&-mob {
					display: block;
					position: static;

				    &-text {
				    	position: absolute;
					    top: 26px;
					    right: 22px;
					    font-size: 52px;
						font-weight: 900;
						line-height: 1;
						letter-spacing: normal;
						color: #682387;
				    }
				}
			}
		}
		.home-page .home-about {
			&-bigtitle-mob {
				.kompl-img {
					position: absolute;
			    	top: auto;
				    left: auto;
				    bottom: -3px;
				    right: -30px;
				}
			}
		}

		.about-page .home-about {
		    padding: 137px 0 70px;
    		overflow: visible;

    		&-left {
    			.home-about-bigtitle {
				    position: absolute;
				    top: 97px;
				    left: 24px;
				    margin: 0;
					line-height: 1;
					letter-spacing: normal;
					max-width: 400px;
					color: #682387;
					font-size: 65px;
    			}
    			.tomatos-img {
				    top: -80px;
				    left: 100px;
				    right: auto;
				    max-width: 200px;
    			}
    			.pepper-img {
				    bottom: -210px;
				    left: auto;
				    right: 0;
				    max-width: 140px;
				    transform: scale(-1);
    			}
    		}
    		&-right {
    			width: 100%;
    			display: block;
    			padding: 0;

    			.home-about-bigtitle {
    				text-align: left;
    				margin-top: 31px;
    				line-height: 1;
					letter-spacing: normal;
					color: #682387;
					max-width: 330px;
    			}
    			.home-about-text-title {
    				margin-top: 29px;
    			}
    			.kompl-img {
    				display: none;
    			}
    		}
			&-bigtitle {
				display: block;

				&-mob .kompl-img {
					position: absolute;
			    	top: auto;
				    left: auto;
				    bottom: -3px;
				    right: -30px;
				}
			}
			&-title {
				left: 0;
			}
			&-subtitle {
				left: 0;
			}
			.common-wrapper {
				padding: 130px 24px 40px;
			}
		}
		.page.ru .home-about .tomatos-img {
			left: 170px;
		}
		.special-offers {

			.top-baner {

				&-title {
					text-shadow: 0 6px 10px rgba(64, 64, 64, 0.4);
					font-size: 23px;
					font-weight: 900;
					line-height: 1.26;
					letter-spacing: normal;
					margin-top: 0;
				}
				&-subtitle {
					text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
					font-size: 60px;
					font-weight: 900;
					line-height: 0.9;
					letter-spacing: normal;
					margin-top: 2px;
					max-width: 230px;
				}
				&-kebab-img {
					bottom: 20px;
					width: 165px;
					right: calc(50% - 40px);
				}
			}
			.special-offers-list__item {
				padding: 50px 24px 24px;
				height: auto;

				&-title {
					font-size: 32px;
					font-weight: 900;
					line-height: 1;
					letter-spacing: normal;
				    max-width: calc(100% - 110px);
				}
				&-subtitle {
					font-size: 12px;
					font-weight: normal;
					line-height: 1.33;
					letter-spacing: normal;
				    max-width: calc(100% - 110px);
				}
				&.special-offers-list__item1 .special-offers-list__item {
					&-img {
						width: 95px;
					}
					&-img2 {
						width: 141px;
					}
				}
				&.special-offers-list__item2 {
					padding-bottom: 102px;

					.special-offers-list__item {

						&-title {
							max-width: 100%;
						}
						&-subtitle {
							max-width: 100%;
						}
						&-img {
							width: 90px;
							bottom: 20px;
							right: 20px;
						}
					}
				}
				&.special-offers-list__item3 {
					padding-bottom: 132px;

					.special-offers-list__item {

						&-title {
							max-width: 100%;
						}
						&-subtitle {
							max-width: 100%;
						}
						&-img {
							width: 90px;
							bottom: 36px;
							left: 20px;
						}
						&-img2 {
							width: 129px;
							bottom: 24px;
							right: 33px;
						}
					}
				}
				&.special-offers-list__item4 {
					padding-bottom: 129px;

					.special-offers-list__item {

						&-title {
							max-width: 100%;
						}
						&-subtitle {
							max-width: 100%;
						}
						&-img {
							width: 90px;
							bottom: 38px;
							left: 20px;
						}
						&-img2 {
							width: 145px;
							bottom: 0;
							right: 2px;
						}
					}
				}
			}
		}
		.bonus-card {
			.top-baner-arrow {
				display: none;
			}
			.top-baner-arrow2 {
				display: none;
			}
			.top-baner-card-img {
				width: 108px;
			    right: 16px;
			}
			.common-wrapper {
				margin-top: 30px;

				.paprika {
					display: none;
				}
			}
			.title-small {
				font-size: 15px;
				font-weight: bold;
				letter-spacing: normal;
				border-radius: 2px;
				background-color: #f7f6f5;
				margin-top: 20px;
				position: relative;
				line-height: normal;
				padding: 19px 10px 18px 51px;

				span {
					display: none;
				}
				&:before {
					content: '+';
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 20px;
					font-family: Roboto;
					font-size: 22px;
					font-weight: 500;
					line-height: normal;
					letter-spacing: normal;
					color: #2c2c2c;
				}
				&.active {
					background-color: #fbe05a;

					&:before {
						content: '-';
					}
				}
			}
			.subtitle + .title-small {
				margin-top: 10px;
			}
			.title + .subtitle + .title-small {
				margin-top: 20px;
			}
			.desc {
				font-weight: normal;
				max-height: 0;
				overflow: hidden;
				margin: 0;
				transition: .2s;
			}
			.desc.active {
				max-height: 1000px;
				padding-top: 20px;
			}
		}
		.privacy-page {

			.top-baner {

				&-title {
					font-family: Roboto;
					font-size: 20px;
					font-weight: 900;
					line-height: 1;
					letter-spacing: normal;
					color: #fbe05a;
				}
				&-subtitle {
					text-shadow: 0 6px 10px rgba(64, 64, 64, 0.4);
					font-family: Roboto;
					font-size: 21px;
					font-weight: 900;
					line-height: 0.94;
					letter-spacing: normal;
					color: #ffffff;
					margin-top: 6px;
					max-width: 300px;
				}
				&-icon {
					width: 100px;
				}
			}
			.subtitle + .title-small {
				font-size: 12px;
				font-weight: bold;
				line-height: 1.5;
				letter-spacing: normal;
				color: #2c2c2c;
				margin-top: 10px;
			}
			.privacy-common-wrapper {
				margin-top: 20px;
				padding: 37px 18px 23px 23px;
				box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);

				.title-small:first-child {
					margin-top: 0;
				}
			}
		}
		.product-dialog {
			margin: 0 !important;

			.el-dialog__body {
				padding: 30px 35px 40px;
			}
			&-left {
				width: 100%;
				padding-right: 0;
			}
			&-right {
				width: 100%;
				padding-left: 0;
				margin-top: 30px;
			}
		}
		.our-restaurants {
			padding: 0;
			height: 100%;

			.mgl-map-wrapper {

			}
			.restaurants-wrapper {
				display: none;
			}
			.mapboxgl-ctrl-group > button {
				width: 40px;
				height: 40px;
				margin: 4px 0;

				&:before {
					line-height: 40px;
					font-size: 27px;
				}
				&.mapboxgl-ctrl-zoom-out:before {
					line-height: 37px;
					font-size: 35px;
				}
			}
		}
	}
	.we-are-open {

		&.en {
			background-image: url('../img/new-banners/order-banner-eng-mob.png');
		}
		&.lv {
			background-image: url('../img/new-banners/order-banner-lv-mob.png');
		}
		&.ru {
			background-image: url('../img/new-banners/order-banner-ru-mob.png');
		}
	}
	.riga-plaza-open {
		background-image: url('../img/new-banners/new-banner2-bg-mob.png');

		&.en:after {
			background-image: url('../img/new-banners/new-banner2-mob-eng.png');
		}
		&.lv:after {
			background-image: url('../img/new-banners/new-banner2-mob.png');
		}
		&.ru:after {
			background-image: url('../img/new-banners/new-banner2-mob-ru.png');
		}
	}

	
}
@media screen and (max-width: 600px) {
	body {
		.home-products-list__item {
			width: calc(100% / 2 - 16px);
		}
		.product-dialog {
			.el-dialog__body {
				padding: 30px 16px 16px;
			}
			.el-dialog__headerbtn {
				top: 23px;
				right: 20px;
			}
		}
	}

}
@media screen and (max-width: 360px) {
	body {
		.home-about-bigtitle-mob-text {
		    max-width: 182px;
	    	font-size: 41px;
	    	top: 40px;
	    	white-space: nowrap;
		}
		.about-page .home-about  {
			.tomatos-img {
			    top: -50px;
			}
			.home-about-bigtitle {
				font-size: 50px;
			}
			&-left {
				.home-about-bigtitle {
					top: 107px;
				}
				.pepper-img {
				    bottom: -160px;
				    left: auto;
				    right: 0px;
				    max-width: 110px;
				    -webkit-transform: scale(-1);
				    transform: scale(-1);
				}
			}
			.common-wrapper {
				padding-top: 90px;
			}
		}
		.page.ru .home-about .tomatos-img {
			left: 100px;
		}
		.bonus-card .top-baner-card-img {
			width: 73px;
		}
	}

}
