<template>
	<div class="about-page">
		<div class="wrapper">
			<div class="top-baner">
				<img src="/img/home-about/fixbox.png" class="top-baner-img-about">
				<img src="/baners-img/background.png" class="top-baner-img">
				<div class="top-baner-wrapper">
					<div class="top-baner-title-main">KEBABS FIX</div>
					<div class="top-baner-title">{{$t('about_us')}}</div>
				</div>
			</div>
			<div class="home-about">
				<div class="wrapper common-wrapper">
					<div class="home-about-left">
						<div class="home-about-title">{{$t('kebabs_fix')}}</div>
						<div class="home-about-subtitle">{{$t('about_us')}}</div>
						<div class="home-about-text">
							<div class="home-about-text-title">{{$t('making_people_happy')}}</div>
							<div class="home-about-text-desc">{{$t('making_people_happy_desc')}}</div>
							<img class="pepper-img" src="/img/home-about/pepper.png">
						</div>
						<div class="home-about-bigtitle">
							{{$t('tasty')}}
							<br/>
							{{$t('and_fresh')}}
							<img class="tomatos-img" src="/img/home-about/tomatos.png">
						</div>
					</div>
					<div class="home-about-right">
						<div class="home-about-bigtitle">
							{{$t('delicious')}}
							<br/>
							{{$t('food')}}
							<img class="kompl-img" src="/img/home-about/kompl.png">
						</div>
						<div class="home-about-text">
							<div class="home-about-text-title">{{$t('high_quality_products')}}</div>
							<div class="home-about-text-desc">{{$t('high_quality_products_desc')}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>


export default {
	name: 'About',
	props: ['filters', 'products', 'activeFilterIndex', 'scrollPosition', 'activeFilter', 'openProductModal', 'homePage', 'filteredProducts']
}
</script>
