<template>
	<div class="bonus-card text-page">
		<div class="wrapper">
			<div class="top-baner">
				<img src="/img/special-offers/bg.png" class="top-baner-img">
				<div class="top-baner-wrapper">
					<div class="top-baner-title">{{$t('friedndly_card')}}</div>
					<div class="top-baner-subtitle">{{$t('kebabs_fix_friedndly_card')}}</div>
				</div>
				<img class="top-baner-card-img" src="img/bonus-card/card.png">
				<img class="top-baner-arrow" src="img/bonus-card/arrow.png">
				<img class="top-baner-arrow2" src="img/bonus-card/arrow2.png">
			</div>
			<div class="wrapper common-wrapper">
				<img src="/img/bonus-card/paprika.png" class="paprika">
				<div class="title">{{$t('kebabs_fix')}}</div>
				<div class="subtitle">{{$t('friedndly_card')}}</div>
				<div :class="bonusCardDescActive == 1 ? 'active' : ''" @click="toggleBonusCardDesc(1)" class="title-small">{{$t('card_rules_1_1')}}</div>
				<div class="desc" :class="bonusCardDescActive == 1 ? 'active' : ''">
					{{$t('card_rules_desc_1_1')}}<br/><br/>
					{{$t('card_rules_desc_1_2')}}<br/><br/>
					{{$t('card_rules_desc_1_3')}}<br/><br/>
					{{$t('card_rules_desc_1_4')}}<br/><br/>
					{{$t('card_rules_desc_1_5')}}<br/><br/>
					{{$t('card_rules_desc_1_6')}}<br/><br/>
					{{$t('card_rules_desc_1_7')}}<br/><br/>
					{{$t('card_rules_desc_1_8')}}
				</div>
				<div :class="bonusCardDescActive == 2 ? 'active' : ''"  @click="toggleBonusCardDesc(2)" class="title-small">{{$t('card_rules_2_1')}}<span>:</span></div>
				<div :class="bonusCardDescActive == 2 ? 'active' : ''" class="desc">
					{{$t('card_rules_desc_2_1')}}<br/><br/>
					{{$t('card_rules_desc_2_2')}}<br/><br/>
					{{$t('card_rules_desc_2_3')}}<br/><br/>
					{{$t('card_rules_desc_2_4')}}<br/><br/>
					{{$t('card_rules_desc_2_5')}}<br/><br/>
					{{$t('card_rules_desc_2_6')}}
				</div>
				<div :class="bonusCardDescActive == 3 ? 'active' : ''" @click="toggleBonusCardDesc(3)" class="title-small">{{$t('The_points_system_Kebabs_Fix')}}<span>:</span></div>
				<div :class="bonusCardDescActive == 3 ? 'active' : ''" class="desc">
					{{$t('card_rules_desc_2_7_1')}}<br/><br/>
					{{$t('card_rules_desc_2_7_2')}}<br/><br/>
					{{$t('card_rules_desc_2_7_3')}}<br/><br/>
					{{$t('card_rules_desc_2_7_4')}}<br/><br/>
					{{$t('card_rules_desc_2_7_5')}}<br/><br/>
					{{$t('card_rules_desc_2_7_6')}}<br/><br/>
					{{$t('card_rules_desc_2_7_7')}}<br/><br/>
					{{$t('card_rules_desc_2_7_8')}}
				</div>
				<div :class="bonusCardDescActive == 4 ? 'active' : ''" @click="toggleBonusCardDesc(4)" class="title-small">{{$t('Miscellaneous')}}<span>:</span></div>
				<div :class="bonusCardDescActive == 4 ? 'active' : ''" class="desc">
					{{$t('card_rules_desc_3_1')}}<br/><br/>
					{{$t('card_rules_desc_3_2')}}<br/><br/>
					{{$t('card_rules_desc_3_3')}}<br/><br/>
					{{$t('card_rules_desc_3_4')}}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'BonusCard',
	data: function() {
		return {
			bonusCardDescActive: ''
		}
	},
	methods: {
		toggleBonusCardDesc(n) {
			this.bonusCardDescActive != n ? this.bonusCardDescActive = n : this.bonusCardDescActive = '';
		}
	}
}
</script>
