<template>
	<div class="careers-page text-page">
		<div class="wrapper">
			<div class="top-baner">
				<img src="/baners-img/bg4.png" class="top-baner-img">
				<div class="top-baner-wrapper">
					<div class="top-baner-title">{{$t('hiring')}}</div>
					<div class="top-baner-subtitle">{{$t('growing_together')}}</div>
					<div class="top-baner-subtitle">{{$t('prospering_together')}}</div>
				</div>
			</div>
			<div class="wrapper common-wrapper">
				<img src="/img/home-about/pepper2.png" class="pepper-2">
				<div class="title title">{{$t('kebabs_fix')}}</div>
				<div class="subtitle subtitle">{{$t('join_the_crew')}}</div>
				<div class="desc desc"><b>{{$t('reg_nr')}}</b>{{$t('join_the_crew_desc')}}</div>
				<div class="title-small title-small">{{$t('we_offer')}}</div>
				<ul class="list common-list">
					<li class="list__item common-list__item">{{$t('we_offer_desc_1')}}</li>
					<li class="list__item common-list__item">{{$t('we_offer_desc_2')}}</li>
					<li class="list__item common-list__item">{{$t('we_offer_desc_3')}}</li>
					<li class="list__item common-list__item">{{$t('we_offer_desc_4')}}</li>
				</ul>
				<div class="title-small title-small">{{$t('we_expect')}}</div>
				<ul class="list common-list">
					<li class="list__item common-list__item">{{$t('we_expect_desc_1')}}</li>
					<li class="list__item common-list__item">{{$t('we_expcct_desc_2')}}</li>
					<li class="list__item common-list__item">{{$t('we_expect_desc_3')}}</li>
				</ul>
				<div class="desc desc"><b>
					{{$t('send_cv')}} <a href="#">{{$t('kebab_email')}}</a> {{$t('send_cv_info')}}</b>
				</div>
				<div class="title-small title-small">{{$t('work_locations')}}</div>
				<ul class="list common-list">
					<li class="list__item common-list__item">{{$t('work_locations_desc_1')}}</li>
					<li class="list__item common-list__item">{{$t('work_locations_desc_2')}}</li>
					<li class="list__item common-list__item">{{$t('work_locations_desc_3')}}</li>
					<li class="list__item common-list__item">{{$t('work_locations_desc_4')}}</li>
				</ul>
				<div class="desc desc">
					{{$t('see_you_soon')}}
				</div>
				<div class="desc desc">
					{{$t('your_kebab_fix')}}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'Careers',
  props: ['activeFilterIndex', 'filters', 'filteredProducts', 'products']
}
</script>
