<template>
  <div class="home-page">
    <div class="wrapper">
      <div class="home-baner-container">
        <el-carousel trigger="click" :autoplay="true">
          <!--<el-carousel-item>
            <div class="el-carousel-container">
              <div class="el-carousel-wrapper">
                <h1 class="el-carousel-title">KEBABS FIX</h1>
                <div class="el-carousel-subtitle">FOOD CAN CHANGE MOOD</div>
              </div>
              <img src="/baners-img/background.png" class="el-carousel-bg" alt="bg">
              <img src="/img/home-about/fixwrap.png" class="top-baner-img-home">
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <router-link to="/careers" class="el-carousel-container te-ir-darbs">
              <div class="el-carousel-wrapper">
                <h1 class="el-carousel-title">{{$t('te_ir')}}<br/> <span>{{$t('darbs!')}}</span></h1>
                <div class="el-carousel-subtitle">click...<br/><span>click...</span></div>
              </div>
              <img src="/baners-img/te-ir-datbs/img1.png" class="el-carousel-img1" alt="img1">
              <img src="/baners-img/te-ir-datbs/img2.png" class="el-carousel-img2" alt="img2">
              <img src="/baners-img/te-ir-datbs/img3.svg" class="el-carousel-img3" alt="img3">
            </router-link>
          </el-carousel-item>
          <el-carousel-item>
            <div class="el-carousel-container gimene-slide">
              <div class="el-carousel-wrapper">
                <h1 class="el-carousel-subtitle">{{$t('Ģimene.')}}</h1>
                <div class="el-carousel-title">
                  <span>{{$t('Par_lielām_un_kuplām_ģimenēm.')}}</span>
                  <span>{{$t('20%_atlaide_ar_3_+')}}</span>
                  <span>{{$t('Ģimenes_karti!')}}</span>
                </div>
              </div>
              <img src="/baners-img/gimene-slide/img1.png" class="el-carousel-img1" alt="img1">
              <img src="/baners-img/gimene-slide/img2.png" class="el-carousel-img2" alt="img2">
              <img src="/baners-img/gimene-slide/img3.png" class="el-carousel-img3" alt="img3">
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="el-carousel-container draudziga">
              <div class="el-carousel-wrapper">
                <div class="el-carousel-subtitle">
                    {{$t('vidējam_kebaba_komplektam')}}
                    <img src="/baners-img/draudziga/star1.svg" class="el-carousel-star1" alt="star1">
                    <img src="/baners-img/draudziga/star2.svg" class="el-carousel-star2" alt="star2">
                </div>
                <div class="el-carousel-subtitle2">
                  <span>{{$t('-20')}}</span>
                </div>
                <div class="el-carousel-subtitle3">
                  <span>{{$t('%')}}</span>
                </div>
                <div class="el-carousel-subtitle4">
                  <span>{{$t('ar')}}</span>
                </div>
                <div class="el-carousel-title">
                  <span>{{$t('*_Piedāvājums neattiecas_uz_kebaba_komplektu_ar_dubulto_gaļu.')}}</span>
                </div>
              </div>
              <img src="/baners-img/draudziga/img1.png" class="el-carousel-img1" alt="img1">
              <img src="/baners-img/bg6.png" class="el-carousel-bg" alt="bg">
              <img src="/baners-img/draudziga/img2.png" class="el-carousel-img2" alt="img2">
              <img src="/baners-img/draudziga/food.png" class="el-carousel-food" alt="food">
            </div>
          </el-carousel-item> -->
          <!-- <el-carousel-item>
            <div class="el-carousel-container covid_19">
              <div class="el-carousel-wrapper">
                <div class="el-carousel-subtitle5">
                    <p>Ņemot vērā esošo situāciju valstī un ar katru dienu pieaugošo saslimšanu skaitu, restorāni uz laiku ir slēgti. Atvainojamies par sagādātajām neērtībām.<br>Par tālākajām izmaiņām informēsim!</p>
                </div>
                <div class="el-carousel-title">
                  <span>{{$t('Par tālākajām izmaiņām informēsim!')}}</span>
                </div>
              </div>
              <img src="/baners-img/bg_covid_19.png" class="el-carousel-bg" alt="bg">
            </div>
          </el-carousel-item> -->
          <!-- <el-carousel-item>
            <router-link to="/special_offers" class="special-offers top-baner-container">
              <div class="top-baner">
                <img src="/img/special-offers/bg.png" class="top-baner-img">
                <img src="/img/special-offers/offerKebab.png" class="top-baner-kebab-img">
                <img src="/img/special-offers/vector.svg" class="top-baner-vector">
                <img src="/img/special-offers/vector2.svg" class="top-baner-vector2">
                <img src="/img/special-offers/vector3.svg" class="top-baner-vector3">
                <img src="/img/special-offers/vector4.svg" class="top-baner-vector4">
                <div class="top-baner-wrapper">
                  <div class="top-baner-title">{{$t('special_offers')}}</div>
                  <div class="top-baner-subtitle">{{$t('kebabs_fix')}}</div>
                </div>
              </div>
            </router-link>
          </el-carousel-item> -->
          <el-carousel-item v-if="$parent.lang == 'en'" class="we-are-open en"></el-carousel-item>
          <el-carousel-item v-if="$parent.lang == 'ru'" class="we-are-open ru"></el-carousel-item>
          <el-carousel-item v-if="$parent.lang == 'lv'" class="we-are-open lv"></el-carousel-item>
        </el-carousel> 
      </div>
    </div>
    <HomeProducts :product="product" :activeFilterIndex="activeFilterIndex" :filters="filters" @applyFilter="applyFilter" :filteredProducts="filteredProducts" :scrollPosition="scrollPosition" />
    <HomeVideo @openVideoDialog="openVideoDialog"/>
    <HomeAbout/>
  </div>
</template>
<script>
import Vue from 'vue';
import HomeAbout from '../components/HomeAbout.vue';
import HomeVideo from '../components/HomeVideo.vue';
import HomeProducts from '../components/HomeProducts.vue';
import {Carousel, CarouselItem} from 'element-ui';

Vue.use(Carousel);
Vue.use(CarouselItem);

export default {
  name: 'Home',
  props: ['filters', 'filteredProducts', 'activeFilterIndex', 'scrollPosition', 'product', 'products'],
  components: {
    HomeAbout,
    HomeVideo,
    HomeProducts
  },
  data: function() {
    return {
      
    }
  },
  methods: {
    applyFilter(data) {
      this.$emit('applyFilter', data)
    },
    openVideoDialog() {
      this.$emit('openVideoDialog')
    }
  }
}
</script>