<template>
	<div class="our-restaurants">
		<div id="map"></div>
		<div class="wrapper restaurants-wrapper">
      <div v-for="(rest, index) in restaurants" class="our-restaurants__item" :key="index">
        <div class="our-restaurants__item-title">{{$t(rest.title)}}</div>
        <div class="our-restaurants__item-icon-list">
          <div class="our-restaurants__item-icon" v-for="(icon, index) in rest.icons" :key="index">
            <img :src="'/img/icons/map/' + icon" class="our-restaurants__item-icon-img">
          </div>
        </div>
        <div class="our-restaurants__item-text-list">
          <div v-for="(text, index) in rest.text" :key="index" class="our-restaurants__item-text">
            <img :src="'/img/icons/map/' + text.icon" class="our-restaurants__item-text-icon" v-if="text.icon && text.value">
            <span class="our-restaurants__item-text-title" v-if="text.icon != 'clock.svg'">
				<span v-if="text.icon == 'clock.svg'">{{$t('Open')}}</span>
				{{$t(text.value)}}
			</span>
			<span class="our-restaurants__item-text-title" v-if="text.icon == 'clock.svg'">
				<span v-if="text.icon == 'clock.svg'">{{$t('Open')}}</span>
				<div class="open-time" v-for="time in text.value" :key="time">{{$t(time)}}</div>
			</span>
          </div>
        </div>
      </div>
    </div>
	</div>
</template>

<script>

import mapboxgl from 'mapbox-gl'
import restaurants from '../json/restaurants.json';

export default {
	name: 'OurRestaurants',
	components: {
		
	},
	data: function() {
		return {
			restaurants: restaurants
		}
	},
	props: ['filters', 'products', 'activeFilterIndex', 'scrollPosition', 'activeFilter', 'openProductModal', 'homePage', 'filteredProducts'],
	mounted: function () {
		this.$nextTick(function () {
			mapboxgl.accessToken = 'pk.eyJ1IjoiaWxqdWh5IiwiYSI6ImNrMXFvYm0wYTE2ODIzY282dDRqbjhmbGkifQ.BE41gQUSv4I-unohkvwmBw';
			var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v11',
				center: [24.202770, 56.983260],
				zoom: 10,
				scrollZoom:false
			});
			/*var popup = new mapboxgl.Popup({ offset: 25 })
			.setHTML('<div class="map-popup"><div class="mapboxgl-popup-title">' + this.$t('Tirdzniecības parks "Alfa"') + '</div><div class="mapboxgl-popup-icon-list"><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/wifi.svg" class="mapboxgl-popup-icon-list__item-img"></div><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/blue-check.svg" class="mapboxgl-popup-icon-list__item-img"></div></div><div class="mapboxgl-popup-info"><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Darba_laiki')+':</div><div class="mapboxgl-popup-info__item-value">10:00 - 22:00</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Adress')+':</div><div class="mapboxgl-popup-info__item-value">Brīvības gatve 372, Rīga, LV-1006</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Tel')+':</div><div class="mapboxgl-popup-info__item-value">+371 25624637</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('e_mail')+':</div><div class="mapboxgl-popup-info__item-value">alfa@kebabs.lv</div></div></div></div>');
			var popup2 = new mapboxgl.Popup({ offset: 25 })
			.setHTML('<div class="map-popup"><div class="mapboxgl-popup-title">' + this.$t('Tirdzniecības centrs "Domina Shopping"') + '</div><div class="mapboxgl-popup-icon-list"><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/wifi.svg" class="mapboxgl-popup-icon-list__item-img"></div><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/blue-check.svg" class="mapboxgl-popup-icon-list__item-img"></div></div><div class="mapboxgl-popup-info"><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Darba_laiki')+':</div><div class="mapboxgl-popup-info__item-value">10:00 - 21:00</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Adress')+':</div><div class="mapboxgl-popup-info__item-value">Ieriķu iela 3, Vidzemes priekšpilsēta, Rīga, LV-1084</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Tel')+':</div><div class="mapboxgl-popup-info__item-value">+371 25623902</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('e_mail')+':</div><div class="mapboxgl-popup-info__item-value">domina@kebabs.lv</div></div></div></div>');*/
			var popup3 = new mapboxgl.Popup({ offset: 25 })
			.setHTML('<div class="map-popup"><div class="mapboxgl-popup-title">' + this.$t('Modes un izklaides centrs "Rīga Plaza"') + '</div><div class="mapboxgl-popup-icon-list"><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/wifi.svg" class="mapboxgl-popup-icon-list__item-img"></div><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/blue-check.svg" class="mapboxgl-popup-icon-list__item-img"></div></div><div class="mapboxgl-popup-info"><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Darba_laiki')+':</div><div class="mapboxgl-popup-info__item-value">10:00 - 21:00</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Adress')+':</div><div class="mapboxgl-popup-info__item-value">Mūkusalas iela 71, Zemgales priekšpilsēta, Rīga, LV-1004</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Tel')+':</div><div class="mapboxgl-popup-info__item-value">+371 25622435</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('e_mail')+':</div><div class="mapboxgl-popup-info__item-value">inga.vanaga@kebabs.lv</div></div></div></div>');
			var popup4 = new mapboxgl.Popup({ offset: 25 })
			.setHTML('<div class="map-popup"><div class="mapboxgl-popup-title">' + this.$t('Tirdzniecības centrs "Origo"') + '</div><div class="mapboxgl-popup-icon-list"><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/wifi.svg" class="mapboxgl-popup-icon-list__item-img"></div><div class="mapboxgl-popup-icon-list__item"><img src="/img/icons/map/blue-check.svg" class="mapboxgl-popup-icon-list__item-img"></div></div><div class="mapboxgl-popup-info"><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Darba_laiki')+':</div><div class="mapboxgl-popup-info__item-value">09:00 - 22:00</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Adress')+':</div><div class="mapboxgl-popup-info__item-value">Stacijas laukums 2, Centra rajons, Rīga, LV-1050</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('Tel')+':</div><div class="mapboxgl-popup-info__item-value">+371 25622256</div></div><div class="mapboxgl-popup-info__item"><div class="mapboxgl-popup-info__item-title">'+this.$t('e_mail')+':</div><div class="mapboxgl-popup-info__item-value">origo@kebabs.lv</div></div></div></div>');
			var el = document.createElement('div');
			var el2 = document.createElement('div');
			var el3 = document.createElement('div');
			var el4 = document.createElement('div');
			el.id = 'marker';
			el2.id = 'marker';
			el3.id = 'marker';
			el4.id = 'marker';
			/*new mapboxgl.Marker(el)
			.setLngLat([24.203510, 56.983570])
			.setPopup(popup) // sets a popup on this marker
			.addTo(map);
			new mapboxgl.Marker(el2)
			.setLngLat([24.159679, 56.965618])
			.setPopup(popup2) // sets a popup on this marker
			.addTo(map);*/
			new mapboxgl.Marker(el3)
			.setLngLat([24.102011, 56.926899])
			.setPopup(popup3) // sets a popup on this marker
			.addTo(map);
			new mapboxgl.Marker(el4)
			.setLngLat([24.121490, 56.947971])
			.setPopup(popup4) // sets a popup on this marker
			.addTo(map);
			map.addControl(new mapboxgl.NavigationControl());
			
		})
	}
}
</script>
<!-- /*{
"title": "Tirdzniecības centrs \"Domina Shopping\"",
"icons": {
	"wifi": "wifi.svg",
	"check": "blue-check.svg"
},
"coordinates": [24.159679, 56.965618],
"text": {
	"clock": {
		"icon": "clock.svg",
		"title": "Darba_laiki",
		"value": "10:00 - 21:00"
	},
	"pin": {
		"icon": "pin.svg",
		"title": "Adress",
		"value": "Ieriķu iela 3, Vidzemes priekšpilsēta, Rīga, LV-1084"
	},
	"phone": {
		"icon": "phone.svg",
		"title": "Tel",
		"value": "+371 25623902"
	},
	"mail": {
		"icon": "mail.svg",
		"title": "e_mail",
		"value": "domina@kebabs.lv"
	}
}
},*/
/*{
"title": "Tirdzniecības parks \"Alfa\"",
"icons": {
	"wifi": "wifi.svg",
	"check": "blue-check.svg"
},
"coordinates": [24.203510, 56.983570],
"text": {
	"clock": {
		"icon": "clock.svg",
		"title": "Darba_laiki",
		"value": "10:00 - 22:00"
	},
	"pin": {
		"icon": "pin.svg",
		"title": "Adress",
		"value": "Brīvības gatve 372, Rīga, LV-1006"
	},
	"phone": {
		"icon": "phone.svg",
		"title": "Tel",
		"value": "+371 25624637"
	},
	"mail": {
		"icon": "mail.svg",
		"title": "e_mail",
		"value": "alfa@kebabs.lv"
	}
}
},*/ -->