<template>
	<div class="privacy-page text-page">
		<div class="wrapper">
			<div class="top-baner">
				<img src="/baners-img/bg2.png" class="top-baner-img">
				<img src="/img/icons/shield.svg" class="top-baner-icon">
				<div class="top-baner-wrapper">
					<div class="top-baner-title">{{$t('web_page_name')}}</div>
					<div class="top-baner-subtitle">{{$t('privacy_policy')}}</div>
				</div>
			</div>
			<div class="wrapper common-wrapper">
				<div class="privacy-page-title title">{{$t('web_page_name')}}</div>
				<div class="privacy-page-title-small title-small">{{$t('heading_privacy')}}</div>
				<div class="privacy-page-title-small title-small">{{$t('what_is_hebabfix')}}</div>
				<div class="privacy-page-desc desc">{{$t('what_is_hebabfix_desc')}}</div>
				<div class="privacy-common-wrapper">
					<div class="privacy-page-title-small title-small">{{$t('what_are_data')}}</div>
					<div class="privacy-page-desc desc">{{$t('what_are_data_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('what_are_data_desc_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('what_are_data_desc_3')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('legal_basis')}}</div>
					<div class="privacy-page-desc desc">{{$t('legal_basis_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('legal_basis_desc_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('legal_basis_desc_3')}}</div>
					<div class="privacy-page-desc desc">{{$t('legal_basis_desc_4')}}</div>
					<div class="privacy-page-desc desc">{{$t('legal_basis_desc_5')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('processing')}}</div>
					<div class="privacy-page-desc desc">{{$t('processing_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('processing_desc_2')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('website_visits')}}</div>
					<div class="privacy-page-desc desc">{{$t('website_visits_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('website_visits_desc_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('website_visits_desc_3')}}</div>
					<div class="privacy-page-desc desc">{{$t('website_visits_desc_4')}}</div>
					<div class="privacy-page-desc desc">{{$t('website_visits_desc_5')}}</div>
					<div class="privacy-page-desc desc">{{$t('website_visits_desc_6')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('notifications')}}</div>
					<div class="privacy-page-desc desc">{{$t('notifications_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('nofifications_desc_2')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('personal_data')}}</div>
					<div class="privacy-page-desc desc">{{$t('personal_data_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('personal_data_desc_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('personal_data_desc_3')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('perosonal_data_storage')}}</div>
					<div class="privacy-page-desc desc">{{$t('perosonal_data_storage_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('perosonal_data_storage_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('perosonal_data_storage_3')}}</div>
					<div class="privacy-page-desc desc">{{$t('perosonal_data_storage_4')}}</div>
					<div class="privacy-page-desc desc">{{$t('perosonal_data_storage_5')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('data_security')}}</div>
					<div class="privacy-page-desc desc">{{$t('data_security_desc_1')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('your_rights')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_3')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_4')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_5')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_6')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_7')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_8')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_9')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_10')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_11')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_12')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_13')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_14')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_15')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_16')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_17')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_18')}}</div>
					<div class="privacy-page-desc desc">{{$t('your_rights_desc_19')}}</div>
					<div class="privacy-page-title-small title-small">{{$t('contacting_us')}}</div>
					<div class="privacy-page-desc desc">{{$t('contacting_us_desc_1')}}</div>
					<div class="privacy-page-desc desc">{{$t('contacting_us_desc_2')}}</div>
					<div class="privacy-page-desc desc">{{$t('contacting_us_desc_3')}}</div>
					<div class="privacy-page-desc desc">{{$t('contacting_us_desc_4')}}</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'Privacy'
}
</script>
