<template>
	<div class="product-menu-page home-products">
		<div class="wrapper">
			<div class="home-products-title title">{{$t('kebabs Fix')}}</div>
			<div class="home-products-subtitle subtitle">{{$t('Edienkarte')}}</div>
		</div>
		<div class="filters" :class="{'active' :scrollPosition >= filtersPos}" ref="filters">
			<div class="filters-wrapper">
				<div class="wrapper">
					<div class="home-products-filters">
						<div :class="'filters-list filters-list_' + activeFilterIndex">
							<div v-for="(filter, index) in filters" class="filters-list__item" :class="{ 'active': activeFilterIndex === index }" :key="index" @click="$emit('scrollToFiltered', [filter.type, index])">
								<div class="filters-list__item-img-container">
									<img class="filters-list__item-img" :src="'/filters-img/' + filter.img">
								</div>
								<div class="filters-list__item-title">{{$t(filter.title)}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-for="(filter, index) in filters" :class="[filter.type == activeFilter ? 'active-filter home-products-list' : 'home-products-list', filter.type]" :key="index" ref="filter">
			<div class="wrapper">
				<div class="home-products-list-title">{{$t(filter.title)}}</div>

				<div v-if="filter.type == 'vegetarianFood'" class="home-products-list-wrapper">

					<div v-for="product in products" v-show="product.veg == 'yes'" class="home-products-list__item"  :key="product.id" @click="$emit('openProductModal', product)">
						<div class="home-products-list__item-size" v-show="product.sizes">
							<div v-if="product.sizes[0]" class="home-products-list__item-size-title">{{$t('size')}}:</div>
							<div v-for="(size, index) in product.sizes" class="home-products-list__item-size__item" :key="index">
								<span v-if="size == 'Small' || size == 'Medium' || size == 'Large'">{{size.charAt(0)}}</span>
								<span v-else>{{size}}</span>
							</div>
						</div>
						<div class="home-products-list__item-img-container">
							<img class="home-products-list__item-img" :src="'/products-img/' + product.img">
							<div :class="'home-products-list__item-veg home-products-list__item-veg-' + product.veg"></div>
						</div>
						<div class="home-products-list__item-title">{{$t(product.title)}}</div>
					</div>
				</div>
				<div class="home-products-list-wrapper" v-else>
					<div v-for="product in products" v-show="product.type == filter.type" class="home-products-list__item"  :key="product.id" @click="$emit('openProductModal', product)">
						<div class="home-products-list__item-size" v-show="product.sizes">
							<div v-if="product.sizes[0]" class="home-products-list__item-size-title">{{$t('size')}}:</div>
							<div v-for="(size, index) in product.sizes" class="home-products-list__item-size__item" :key="index">
								<span v-if="size == 'Small' || size == 'Medium' || size == 'Large'">{{size.charAt(0)}}</span>
								<span v-else>{{size}}</span>
							</div>
						</div>
						<div class="home-products-list__item-img-container">
							<img class="home-products-list__item-img" :src="'/products-img/' + product.img">
							<div :class="'home-products-list__item-veg home-products-list__item-veg-' + product.veg"></div>
						</div>
						<div class="home-products-list__item-title">{{$t(product.title)}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ProductMenu',
	data: function() {
		return {
			filtersPos: null,
			setPos: null,
			warmFoodPos: null,
			snacksPos: null,
			vegetarianFoodPos: null,
			additivesPos: null,
			saucesPos: null,
			drinksPos: null,
			dessertsPos: null,
			saucesPosAllow: true,
			additivesPosAllow: true,
			lastScroll: 0
		}
	},
	props: ['filters', 'products', 'activeFilterIndex', 'scrollPosition', 'activeFilter', 'openProductModal', 'homePage', 'filteredProducts'],
	mounted: function() {
		this.filtersPos = this.$refs.filters.getBoundingClientRect().top + window.scrollY - 80;
		this.setPos = this.$refs.filter[1].getBoundingClientRect().top + window.scrollY - 200;
		this.warmFoodPos = this.$refs.filter[2].getBoundingClientRect().top + window.scrollY - 200;
		this.snacksPos = this.$refs.filter[3].getBoundingClientRect().top + window.scrollY - 200;
		this.vegetarianFoodPos = this.$refs.filter[4].getBoundingClientRect().top + window.scrollY - 200;
		this.additivesPos = this.$refs.filter[5].getBoundingClientRect().top + window.scrollY - 200;
		this.saucesPos = this.$refs.filter[6].getBoundingClientRect().top + window.scrollY - 200;
		this.drinksPos = this.$refs.filter[7].getBoundingClientRect().top + window.scrollY - 200;
		this.dessertsPos = this.$refs.filter[8].getBoundingClientRect().top + window.scrollY - 200;
		
		this.updateScroll2();
		window.addEventListener('scroll', this.updateScroll2);
		this.$parent.homePageToggle(false);
	},	
	methods: {
		updateScroll2() {
			if (this.scrollPosition >= this.setPos && this.scrollPosition < this.warmFoodPos) {
				this.$parent.changeActiveFilterIndex(1);
			} else if (this.scrollPosition >= this.warmFoodPos && this.scrollPosition < this.snacksPos) {
				this.$parent.changeActiveFilterIndex(2);
			} else if (this.scrollPosition >= this.snacksPos && this.scrollPosition < this.vegetarianFoodPos) {
				this.$parent.changeActiveFilterIndex(3);
			} else if (this.scrollPosition >= this.vegetarianFoodPos && this.scrollPosition < this.additivesPos) {
				this.$parent.changeActiveFilterIndex(4);
			} else if (this.scrollPosition >= this.additivesPos && this.scrollPosition < this.saucesPos) {
				this.$parent.changeActiveFilterIndex(5);
				
			} else if (this.scrollPosition >= this.saucesPos && this.scrollPosition < this.drinksPos) {
				this.$parent.changeActiveFilterIndex(6);
			} else if (this.scrollPosition >= this.drinksPos && this.scrollPosition < this.dessertsPos) {
				this.$parent.changeActiveFilterIndex(7);
			} else if (this.scrollPosition >= this.dessertsPos) {
				this.$parent.changeActiveFilterIndex(8);
			}  else {
				this.$parent.changeActiveFilterIndex(0);
			}

			if (this.scrollPosition > 0 && this.lastScroll <= this.scrollPosition){
				this.lastScroll = this.scrollPosition;
				if (this.scrollPosition > this.snacksPos && this.saucesPosAllow) {
					document.querySelector(".filters-list").scrollBy(300,0);
					this.saucesPosAllow = false;
				}
				if (this.scrollPosition > this.additivesPos && this.additivesPosAllow) {
					document.querySelector(".filters-list").scrollBy(250,0);
					this.additivesPosAllow = false;
				}
			}else{
				this.lastScroll = this.scrollPosition;
				if (this.scrollPosition < this.snacksPos && !this.saucesPosAllow) {
					document.querySelector(".filters-list").scrollBy(-300,0);
					this.saucesPosAllow = true;
				}
				if (this.scrollPosition < this.additivesPos && !this.additivesPosAllow) {
					this.additivesPosAllow = true;
					document.querySelector(".filters-list").scrollBy(-250,0);
				}
			}
		}
	}
}
</script>
