<template>
	<div class="reviews-page">
		<div class="wrapper">
			<div class="top-baner">
				<img src="/baners-img/bg3.png" class="top-baner-img">
				<div class="top-baner-wrapper">
					<div class="top-baner-title">{{$t('atsauksmes')}}</div>
					<div class="top-baner-subtitle">{{$t('leave_a_review')}}</div>
				</div>
			</div>
			<div class="wrapper common-wrapper">
				<div class="careers-page-title title">{{$t('please_fill_out')}}</div>
				<div class="careers-page-subtitle subtitle">{{$t('what_are_you_contacting')}}</div>
				<form class="contact-form" id="contactForm" @submit.prevent="submit" enctype="multipart/form-data" method="post">
					<div class="form-input-wrapper">
						<div class="form-input-label">{{$t('name')}}</div>
						<input v-model="contactName" class="form-input" :placeholder="$t('name')" type="text" name="name">
					</div>
					<div class="form-input-wrapper">
						<div class="form-input-label">{{$t('surname')}}</div>
						<input v-model="contactSurname" class="form-input" :placeholder="$t('surname')" type="text" name="surname">
					</div>
					<div class="form-input-wrapper">
						<div class="form-input-label">{{$t('e-mail')}}</div>
						<input v-model="contactEmail" class="form-input" :placeholder="$t('e-mail')" type="text" name="email">
					</div>
					<div class="form-input-wrapper">
						<div class="form-input-label">{{$t('phone')}}</div>
						<input v-model="contactPhone" class="form-input" :placeholder="$t('phone')" type="text" name="phone">
					</div>
					<div class="form-input-wrapper form-textarea-wrapper">
						<div class="form-input-label">{{$t('message')}}</div>
						<textarea :placeholder="$t('message')" v-model="contactMessage" class="form-input" type="text" name="message"></textarea>
					</div>
					<label class="form-input-wrapper form-input-file-wrapper">
						<img src="/img/icons/file.svg" class="form-input-img">
						<div class="form-input-label">{{$t('select_a_file')}}</div>
						<input @change="insertFile" class="form-input" type="file" name="file">
						<div class="form-input-chosen">{{contactFileName}}</div>
					</label>
					<label class="form-checkbox-container" @click.prevent ="personalChecked = !personalChecked">
						<input type="checkbox" name="personal" class="form-checkbox-input">
						<div class="form-checkbox" :class="{'active':personalChecked}"></div>
						<div class="form-checkbox-title">{{$t('i_agree')}}</div>
					</label>

					<button type="submit" class="form-button">{{$t('submit')}}</button>
					<div class="contact-form-end">
						<transition name="fade">
							<div v-show="formSented" class="success-message">{{$t('thank_you')}}</div>
						</transition>
						<div v-show="errors" class="contact-errors-list">
							<transition-group name="fade">
								<div class="contact-errors-list__item" v-for="error in errors" :key="error">{{$t(error)}}</div>
							</transition-group>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import emailjs from 'emailjs-com';
export default {
	name: 'Reviews',
	data: function() {
		return {
			personalChecked: false,
			contactFile: '',
			contactFileName: '',
			contactName: '',
			contactSurname: '',
			contactEmail: '',
			contactPhone: '',
			contactMessage: '',
			errors: [],
			formSented: false,
			templateParams : {
				name: '',
				surname: '',
				email: '',
				phone: '',
				message: '',
				file: ''

			},
			reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/ /* eslint-disable-line */
		}
	},
	props: ['filters', 'products', 'activeFilterIndex', 'scrollPosition', 'activeFilter', 'openProductModal', 'homePage', 'filteredProducts'],
	methods: {
		insertFile(event) {
			this.contactFileName = event.target.files[0].name
			this.contactFile = URL.createObjectURL(event.target.files[0]);
		},
		validateEmail() {
			var re = this.reg;
			return re.test(String(this.contactEmail).toLowerCase());
		},
		submit() {
			this.templateParams = {
				name: this.contactName,
				surname: this.contactSurname,
				email: this.contactEmail,
				phone: this.contactPhone,
				message: this.contactMessage,
				file: this.contactFile,
			};
			if ( this.personalChecked && this.validateEmail(this.contactEmail) && this.contactMessage ) {
				emailjs.send('gmail', 'contact_form', this.templateParams, 'user_vT8HHpdhxDpzxbvOrk1ff');

				this.errors = [];
				this.contactName = '',
				this.contactSurname = '',
				this.contactEmail = '',
				this.contactPhone = '',
				this.contactMessage = '',
				this.contactFile = '',
				this.formSented = true;
				setTimeout(() => {
					this.formSented = false;
				}, 4000);

				return
			}
			this.errors = [];
			if (!this.personalChecked) {
				this.errors.push('Please_agree_privacy_policy');
			}
			if (!this.validateEmail(this.contactEmail)) {
				this.errors.push('Please_enter_correct_email');
			}
			if (!this.contactMessage) {
				this.errors.push('Please_leave_a_message');
			}
		}
	}
}
</script>
