<template>
	<div class="special-offers">
		<div class="wrapper">
			<div class="top-baner">
				<img src="/img/special-offers/bg.png" class="top-baner-img">
				<img src="/img/special-offers/offerKebab.png" class="top-baner-kebab-img">
				<img src="/img/special-offers/vector.svg" class="top-baner-vector">
				<img src="/img/special-offers/vector2.svg" class="top-baner-vector2">
				<img src="/img/special-offers/vector3.svg" class="top-baner-vector3">
				<img src="/img/special-offers/vector4.svg" class="top-baner-vector4">
				<div class="top-baner-wrapper">
					<div class="top-baner-title">{{$t('special_offers')}}</div>
					<div class="top-baner-subtitle">{{$t('kebabs_fix')}}</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="special-offers-list">
					<div class="special-offers-list__item special-offers-list__item1">
						<div class="special-offers-list__item-title">{{$t('friedndly_card')}}</div>
						<div class="special-offers-list__item-subtitle">{{$t('friendly_card_desc')}}</div>
						<img src="/img/special-offers/1/card.png" class="special-offers-list__item-img">
						<img src="/img/special-offers/1/hands.svg" class="special-offers-list__item-img2">
						<router-link v-scroll-to="'.header'" to="/bonus_card" class="special-offers-list__item-button">
							<div class="special-offers-list__item-button-title">{{$t('read_more')}}</div>
							<img src="/img/special-offers/1/arrow.svg" class="special-offers-list__item-button-img">
						</router-link>
					</div>
					<div class="special-offers-list__item special-offers-list__item2">
						<div class="special-offers-list__item-title">{{$t('on_last_monday')}}</div>
						<div class="special-offers-list__item-subtitle">{{$t('on_last_monday_desc')}}</div>
						<img src="/img/special-offers/2/calendar.svg" class="special-offers-list__item-img">
					</div>
					<div class="special-offers-list__item special-offers-list__item3">
						<div class="special-offers-list__item-title">{{$t('family')}}</div>
						<div class="special-offers-list__item-subtitle spec">{{$t('family_desc_desc1')}}</div>
						<div class="special-offers-list__item-subtitle spec">{{$t('family_desc_desc2')}}</div>
						<img src="/img/special-offers/3/card.png" class="special-offers-list__item-img">
						<img src="/img/special-offers/3/bird.png" class="special-offers-list__item-img2">
					</div>
					<div class="special-offers-list__item special-offers-list__item4">
						<div class="special-offers-list__item-title">{{$t('student_discount')}}</div>
						<div class="special-offers-list__item-subtitle spec">{{$t('student_discount_desc')}}</div>
						<div class="special-offers-list__item-subtitle spec">{{$t('student_discount_desc1')}}</div>
						<img src="/img/special-offers/4/card.png" class="special-offers-list__item-img">
						<img src="/img/special-offers/4/isic.svg" class="special-offers-list__item-img2">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'SpecialOffers',
  props: ['filters', 'products', 'activeFilterIndex', 'scrollPosition', 'activeFilter', 'openProductModal', 'homePage', 'filteredProducts']
}
</script>
