<template>
	<div class="underconstruction">
		<div class="header-center">
			<router-link v-scroll-to="'.header'" to="/home">
				<img class="logo-img" src="/img/icons/logo.svg" />
			</router-link>
		</div>
		<div class="wrapper">
			Site is under construction
		</div>
	</div>
</template>

<script>
export default {
  name: 'Underconstruction'
}
</script>
