<template>
	<div class="footer" :class="{'no-coockie': cookieStatus != 'accept'}">
		<div class="footer-wrapper">
			<div class="footer-left">
				<div class="footer-left-wrapper">
					<router-link v-scroll-to="'.header'" to="/home">
						<img class="logo-img" src="/img/icons/logo.svg" />
					</router-link>
				</div>
			</div>
			<div class="footer-center">
				<div class="footer-nav">
					<div class="footer-nav-column">
						<div class="footer-nav-title">{{$t('explore')}}</div>
						<div class="footer-nav-list">
							<router-link to="/home" v-scroll-to="'.home-products'" v-for="(filter, index) in filters" :key="index" @click.native="$emit('applyFilter',[filter.type, index])" class="footer-nav-list__item">{{$t(filter.title)}}</router-link>
						</div>
					</div>
					<div class="footer-nav-column">
						<div class="footer-nav-title">{{$t('sitemap')}}</div>
						<div class="footer-nav-list">
							<router-link v-scroll-to="'.header'" v-for="(link, index) in links" class="footer-nav-list__item" :key="index" :to="link.link">{{$t(link.title)}}</router-link>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-right">
				<form id="emailForm" class="email-form" @submit.prevent="submit">
					<div class="email-form-title">{{$t('join_our_newsletter')}}</div>
					<div class="email-form-subtitle">{{$t('join_our_subsriber_list')}}</div>
					<div class="email-form-input-wrapper">
						<input v-model="footerEmail" class="email-form-input" type="email" name="email" :placeholder="$t('your_address')">
						<button type="submit" class="email-form-button"></button>
						<transition name="fade">
							<div v-show="formSented" class="success-message">Thank you! Your email has been sent!</div>
						</transition>
					</div>
					<div v-show="errors" class="footer-errors-list">
						<transition-group name="fade">
							<div class="footer-errors-list__item" v-for="error in errors" :key="error">{{$t(error)}}</div>
						</transition-group>
					</div>
					<label class="email-form-checkbox-container" :class="{'lower': errors.length > 0 || formSented}" @click.prevent ="privacyChecked = !privacyChecked">	
						<input type="checkbox" name="privacy" class="email-form-checkbox-input">
						<div class="email-form-checkbox" :class="{'active':privacyChecked}"></div>
						<div class="email-form-checkbox-title">{{$t('i_agree')}}</div>
					</label>
				</form>
			</div>
		</div>
		<div class="footer-wrapper">
			<div class="footer-left">
				<div class="footer-text">{{$t('Copyright')}}</div>
			</div>
			<div class="footer-center">
				<a href="https://www.facebook.com/kebabsfix/" class="footer-link">
					<img class="footer-link-img" src="/img/icons/fb-gray.svg"/>
				</a>
				<a href="https://www.instagram.com/kebabsfix/" class="footer-link">
					<img class="footer-link-img" src="/img/icons/insta-gray.svg"/>
				</a>
			</div>
			<div class="footer-right">
				<router-link v-scroll-to="'.header'" class="footer-text" to="/privacy">{{$t('privacy_policy')}}</router-link>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
import vueScrollTo from 'vue-scroll-to';
import emailjs from 'emailjs-com';
 
Vue.use(vueScrollTo);
export default {
	name: 'Footer',
	props: ['filters', 'links', 'cookieStatus'],
	data: function() {
		return {
			privacyChecked: false,
			footerEmail: '',
			errors: [],
			formSented: false,
			templateParams : {
				email: ''
			},
			reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/ /* eslint-disable-line */

		}
	},
	methods: {
		validateEmail() {
			var re = this.reg;
			return re.test(String(this.footerEmail).toLowerCase());
		},
		submit() {
			this.templateParams = {
				email: this.footerEmail
			};
			if ( this.privacyChecked && this.validateEmail(this.footerEmail) ) {
				emailjs.send('gmail', 'email', this.templateParams, 'user_vT8HHpdhxDpzxbvOrk1ff');
				

				this.errors = [];
				this.footerEmail = '';
				this.formSented = true;
				setTimeout(() => {
					this.formSented = false;
				}, 4000);
				return
			}
			this.errors = [];
			if (!this.privacyChecked) {
				this.errors.push('Please_agree_privacy_policy');
			}
			if (!this.validateEmail(this.footerEmail)) {
				this.errors.push('Please_enter_correct_email');
			}
			
		}
	}
}
</script>
