<template>
  <div class="header" :class="{'active': scrollPosition != 0 || $route.path === '/product_menu'}">
    <div class="header-wrapper">
      <div class="header-left">
        <img @click="$emit('toggleMenu')" class="menu-icon" src="/img/icons/menu.svg" />
        
        <div class="map-link-container">
          <router-link v-scroll-to="'.header'" class="map-link" to="/our_restaurants" @click.native="$emit('closeMenu')">
            <img class="map-link-img" src="/img/icons/pin_for_head.svg">
            <div class="map-link-title">{{$t('your_kebab_fix')}}</div>
          </router-link>
        </div>
      </div>
      <div class="header-center">
        <router-link v-scroll-to="'.header'" to="/home" @click.native="$emit('closeMenu')">
          <img class="logo-img" src="/img/icons/logo.svg" />
        </router-link>
      </div>
      <div class="header-right">
        <a href="https://wolt.com/lv/search?q=kebabs%20fix" class="order-button">
          <img src="/img/icons/order2.svg" class="order-button-img">
          <span class="order-button-title">{{$t('order_now')}}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: ['scrollPosition']
}
</script>
