<template>
  <div class="home-video">
    <div class="home-video-title">{{$t('hight_quality')}}</div>
    <div class="home-video-subtitle">{{$t('kebabs Fix')}}</div>
    <div @click="openVideoDialog" class="play-button"></div>
    <div class="home-video-baner"></div>
  </div>
</template>

<script>
export default {
  name: 'HomeVideo',
  methods: {
    openVideoDialog() {
      this.$emit('openVideoDialog');
    }
  }
}
</script>
