<template>
	<div class="home-products">
		<div class="home-products-offset"></div>
		<el-dialog :visible.sync="productModalVisible" width="1110" :lock-scroll="false" custom-class="product-dialog">
      <div :class="[{'no-alergen': !productModalItem.allergens[0]}, 'product-dialog-content']">
        <div class="product-dialog-left">
          <div class="product-dialog-title">{{$t(productModalItem.title)}}</div>
          <div class="product-dialog-sizes">
            <div class="product-dialog-sizes__item" v-for="(size, index) in productModalItem.sizes" :key="index">{{$t(size)}}</div>
          </div> 
          <div class="product-dialog-img-container">
            <img class="product-dialog-img" :src="'/products-img/' + productModalItem.img">
          </div>
          <div class="product-dialog-text" v-if="productModalItem.composition">
            <div class="product-dialog-text-title" v-if="productModalItem.composition != 'lunch_desc'">{{$t('composition_of_the_product')}}</div>
            <div class="product-dialog-text-desc">{{$t(productModalItem.composition)}}</div>
          </div>
        </div>
        <div class="product-dialog-right" v-if="productModalItem.allergens[0]">
          <span class="product-dialog-title">{{$t('allergens')}}</span>
          <div class="product-dialog-allergens" v-if="productModalItem.allergens[0]">
            <div v-for="(allergen, index) in allergens" class="product-dialog-allergens__item" :key="index">
              <div class="product-dialog-allergens__item-wrapper" v-for="(productAllergen, index) in productModalItem.allergens" :class="[productAllergen == allergen.title ? 'active' : '']" :key="index">
              </div>
              <div class="product-dialog-allergens__item-img-container">
                <img class="product-dialog-allergens__item-img" :src="'/img/allergens/' + allergen.title + '.svg'">
              </div>
              <div class="product-dialog-allergens__item-title">{{$t(allergen.title)}}</div>
            </div>
          </div>
          <span class="product-dialog-title" v-else>{{$t('None')}}</span>
        </div>
      </div>
    </el-dialog>
		<div class="wrapper">
			<div class="home-products-title title">{{$t('kebab_fix')}}</div>
			<div class="home-products-subtitle subtitle">{{$t('Edienkarte')}}</div>
		</div>
		<div class="filters" :class="{'active' :scrollPosition >= filtersPos}" ref="filters">
			<div class="filters-wrapper">
				<div class="wrapper">
					<div class="home-products-filters">
						<div class="filters-list">
							<div v-scroll-to="'.home-products-offset'" class="filters-list__item" :class="{ 'active': activeFilterIndex === index }" v-for="(filter, index) in filters" :key="index" @click="$emit('applyFilter',[filter.type, index])">
								<div class="filters-list__item-img-container">
									<img class="filters-list__item-img" :src="'/filters-img/' + filter.img">
								</div>
								<div class="filters-list__item-title">{{$t(filter.title)}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home-products-list">
			<div class="wrapper">
				<transition-group name="fade" tag="div" class="home-products-list-wrapper">
					<div class="home-products-list__item" v-for="product in filteredProducts" :key="product.id" @click="openProductModalAction(product)">
						<div class="home-products-list__item-size" v-show="product.sizes">
							<div v-if="product.sizes[0]" class="home-products-list__item-size-title">{{$t('size')}}:</div>
							<div v-for="(size, index) in product.sizes" class="home-products-list__item-size__item" :key="index">
								<span v-if="size == 'Small' || size == 'Medium' || size == 'Large'">{{size.charAt(0)}}</span>
								<span v-else>{{size}}</span>
							</div>
						</div>
						<div class="home-products-list__item-img-container">
							<img class="home-products-list__item-img" :src="'/products-img/' + product.img">
							<div :class="'home-products-list__item-veg home-products-list__item-veg-' + product.veg"></div>
						</div>
						<div class="home-products-list__item-title">{{$t(product.title)}}</div>
					</div>
				</transition-group>
				<router-link v-scroll-to="'.header'" to="/product_menu" class="home-products-more">
					<span class="home-products-more-title">{{$t('home_see_more')}}</span>
					<img src="/img/home-about/arrows.svg" class="home-products-more-img">
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
import allergens from '../json/allergens.json';
import products from '../json/products.json';

export default {
	name: 'HomeProducts',
	data: function() {
		return {
			filtersPos: null,
			allergens: allergens,
			productModalVisible: false,
			productModalItem: products[0]
		}
	},
	mounted() {
		this.filtersPos = this.$refs.filters.getBoundingClientRect().top + window.scrollY - 80
	},
	props: ['filters', 'products', 'filteredProducts', 'activeFilterIndex', 'scrollPosition'],
	methods: {
		openProductModalAction(product) {
			this.productModalVisible = true;
			this.productModalItem = product;
		}
	}
}
</script>
