<template>
	<div class="home-about">
		<div class="wrapper common-wrapper">
			<div class="home-about-left">
				<div class="home-about-title">{{$t('kebab_fix')}}</div>
				<div class="home-about-subtitle">{{$t('about_us')}}</div>
				<div class="home-about-text">
					<div class="home-about-text-title">{{$t('making_people_happy')}}</div>
					<div class="home-about-text-desc">{{$t('making_people_happy_desc')}}</div>
					<router-link v-scroll-to="'.header'" to="/about" class="about-link">
						<span class="about-link-title">{{$t('learn_more')}}</span>
						<img src="/img/home-about/arrows.svg" class="about-link-img">
					</router-link>
				</div>
			</div>
			<div class="home-about-right">
				<div class="home-about-bigtitle home-about-bigtitle-mob">
					<div class="home-about-bigtitle-mob-text">
						{{$t('tasty')}}
						<br/>
						{{$t('and_fresh')}}
					</div>
					<img class="kompl-img" src="/img/home-about/kompl.png">
				</div>
				<div class="home-about-bigtitle">
					{{$t('delicious')}}
					<br/>
					{{$t('food')}}
					<img class="kompl-img" src="/img/home-about/kompl.png">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'HomeAbout'
}
</script>
