<template>
	<div class="menu">
		<div class="menu-wrapper">
			<img class="menu-back-icon" src="/img/icons/menu-arrow.svg" @click="$emit('closeMenu')"/>
			<div class="langs">
				<div v-show="lang!='lv'" class="langs__item" @click="$emit('changeLang', 'lv')">{{$t('Lv')}}</div>
				<div v-show="lang!='ru'" class="langs__item" @click="$emit('changeLang', 'ru')">{{$t('Ru')}}</div>
				<div v-show="lang!='en'" class="langs__item" @click="$emit('changeLang', 'en')">{{$t('Eng')}}</div>
			</div>
			<div class="menu-link-list">
				<router-link v-scroll-to="'.header'" @click.native="$emit('closeMenu')" v-for="(link, index) in links" class="menu-link-list__item" :key="index" :to="link.link">{{$t(link.title)}}</router-link>
			</div>
		</div>
		<div class="menu-footer">
			<a target="__blank" href="https://www.facebook.com/kebabsfix/" @click="$emit('closeMenu')" class="menu-footer-link">
				<img class="menu-footer-link-img" src="/img/icons/fb.svg"/>
			</a>
			<a target="__blank" href="https://www.instagram.com/kebabsfix/" @click="$emit('closeMenu')" class="menu-footer-link">
				<img class="menu-footer-link-img" src="/img/icons/insta.svg"/>
			</a>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Menu',
	props: ['links', 'lang'],
	data: function() {
		return {
			
		}
	},
	methods: {
		changeLang(l) {
			this.$emit('changeLang', l)
		},
	},
	watch: {
		lang(val) {
			import(`../langs/${val}.json`).then((msgs) => {
				this.$i18n.setLocaleMessage(val, msgs)
				this.$i18n.locale = val
			})
		}
	}
}
</script>
