<template>
  <div id="app">
    <transition name="fade">
      <Menu @closeMenu="closeMenu" @changeLang="changeLang" :lang="lang" v-show="menuOpened" :links="links"/>
    </transition>
    <Header @toggleMenu="toggleMenu" @closeMenu="closeMenu" :scrollPosition="scrollPosition"/>
    <div id="page" :class="'page ' + lang">
      <router-view @openProductModal="openProductModal" :activeFilterIndex="activeFilterIndex" :filters="filters" @applyFilter="applyFilter" @scrollToFiltered="scrollToFiltered" :activeFilter="activeFilter" :filteredProducts="filteredProducts" :scrollPosition="scrollPosition" @openVideoDialog="openVideoDialog" :products="products" @changeActiveFilterIndex="changeActiveFilterIndex" @homePageToggle="homePageToggle" :homePage="homePage"/>
    </div>
    
    <Footer :filters="filters" @applyFilter="applyFilter" :links="links" :cookieStatus="cookieStatus"/>
     <vue-cookie-accept-decline elementId="coockies" @status="cookiesStatus" @clicked-accept="coockiesAccept">
      <div slot="message">
          {{$t('Our_site_uses')}} <router-link v-scroll-to="'.header'" to="/privacy" class="cookie-button">{{$t('Cookies')}},</router-link> {{$t('Cookies2')}}
      </div>
      <div slot="acceptContent">
         {{$t('ok')}}
      </div>
    </vue-cookie-accept-decline>
    <el-dialog 
      :visible.sync="videoVisible"
      width="560px"
      :lock-scroll="false"
      :before-close="closeVideoDialog"
      custom-class="video-dialog">
      <youtube ref="youtube" :video-id="videoId"></youtube>
    </el-dialog>
    <el-dialog :visible.sync="productModalVisible" width="1110" :lock-scroll="false" custom-class="product-dialog">
      <div :class="[{'no-alergen': !productModalItem.allergens[0]}, 'product-dialog-content']">
        <div class="product-dialog-left">
          <div class="product-dialog-title">{{$t(productModalItem.title)}}</div>
          <div class="product-dialog-sizes">
            <div class="product-dialog-sizes__item" v-for="(size, index) in productModalItem.sizes" :key="index">{{$t(size)}}</div>
          </div> 
          <div class="product-dialog-img-container">
            <img class="product-dialog-img" :src="'/products-img/' + productModalItem.img">
          </div>
          <div class="product-dialog-text" v-if="productModalItem.composition">
            <div class="product-dialog-text-title" v-if="productModalItem.composition != 'lunch_desc'">{{$t('composition_of_the_product')}}</div>
            <div class="product-dialog-text-desc">{{$t(productModalItem.composition)}}</div>
          </div>
        </div>
        <div class="product-dialog-right" v-if="productModalItem.allergens[0]">
          <span class="product-dialog-title">{{$t('allergens')}}</span>
          <div class="product-dialog-allergens">
            <div v-for="(allergen, index) in allergens" class="product-dialog-allergens__item" :key="index">
              <div class="product-dialog-allergens__item-wrapper" v-for="(productAllergen, index) in productModalItem.allergens" :class="[productAllergen == allergen.title ? 'active' : '']" :key="index">
              </div>
              <div class="product-dialog-allergens__item-img-container">
                <img class="product-dialog-allergens__item-img" :src="'/img/allergens/' + allergen.title + '.svg'">
              </div>
              <div class="product-dialog-allergens__item-title">{{$t(allergen.title)}}</div>
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Menu from './components/Menu.vue'
import {Dialog} from 'element-ui';
import 'element-ui/lib/theme-chalk/index.css';
import VueYoutube from 'vue-youtube'
import filters from './json/filters.json';
import products from './json/products.json';
import links from './json/links.json';
import VueCookieAcceptDecline from 'vue-cookie-accept-decline';
import allergens from './json/allergens.json';
Vue.use(Dialog);
Vue.component('vue-cookie-accept-decline', VueCookieAcceptDecline);
Vue.use(VueYoutube)
var VueScrollTo = require('vue-scrollto');
Vue.use(VueScrollTo)

export default {
  name: 'app',
  components: {
    Header,
    Footer,
    Menu
  },
  data: function() {
    return {
      lang: 'lv',
      menuOpened: false,
      filters: filters,
      products: products,
      activeFilterIndex: 0,
      filter: 'kebabWrap',
      links: links,
      scrollPosition: 0,
      videoVisible: false,
      videoId: 'kz4TElGD4b0',
      cookieStatus: null,
      activeFilter: filters[0].type,
      allergens: allergens,
      productModalVisible: false,
      productModalItem: products[0],
      homePage: true
    }
  },
  watch:{
      $route (to){
        if (to.fullPath == '/home') {
          this.homePage = true;
          setTimeout(() => {
            this.activeFilterIndex = 0;
            this.filter = 'kebabWrap';
          },300)
          
        }
      }
  },
  methods: {
    homePageToggle(a) {
      this.homePage = a
      
    },
    cookiesStatus (status) {
        this.cookieStatus = status
    },
    cookieClickedAccept () {
        this.status = 'accept'
    },
    coockiesAccept() {
      this.cookieStatus = 'accept';
    },
    toggleMenu() {
      this.menuOpened = !this.menuOpened;
    },
    closeMenu() {
      this.menuOpened = false;
    },
    applyFilter(data) {
      this.filter = "";
      setTimeout(() => {
        this.activeFilterIndex = data[1];
        this.filter = data[0];
      },300)
    },
    changeActiveFilterIndex(index) {
      if (this.homePage == false) {
        this.activeFilterIndex = index;
      }
      
    },
    scrollToFiltered(data) {
      this.activeFilterIndex = data[1];
      this.activeFilter = data[0];
      setTimeout(() => {
       this.$scrollTo('.active-filter', {offset: -120});
      },100)
    },
    updateScroll() {
      this.scrollPosition = window.scrollY
    },
    openVideoDialog() {
      this.videoVisible = true;
      this.$nextTick(() => this.$refs.youtube.player.playVideo());
    },
    closeVideoDialog() {
      this.$nextTick(() => this.$refs.youtube.player.stopVideo());
      this.videoVisible = false;
    },
    openProductModal(product) {
      this.productModalVisible = true;
      this.productModalItem = product;
    },
    changeLang(l) {
      this.lang = l;
      this.closeMenu();
    }
  },
  mounted: function() {
    window.addEventListener('scroll', this.updateScroll);
  },
  computed: {
    player() {
      return this.$nextTick(() => this.$refs.youtube.player);
    },
    filteredProducts() {
      if (this.filter == 'all') {
        return this.products
      }
      if (this.filter == 'kebabWrap') {
        return this.products.filter(t => t.type == 'kebabWrap')
      }
      if (this.filter == 'set') {
        return this.products.filter(t => t.type == 'set')
      }
      if (this.filter == 'warmFood') {
        return this.products.filter(t => t.type == 'warmFood')
      }
      if (this.filter == 'snacks') {
        return this.products.filter(t => t.type == 'snacks')
      }
      if (this.filter == 'vegetarianFood') {
        return this.products.filter(t => t.veg == 'yes')
      }
      if (this.filter == 'additives') {
        return this.products.filter(t => t.type == 'additives')
      }
      if (this.filter == 'sauces') {
        return this.products.filter(t => t.type == 'sauces')
      }
      if (this.filter == 'drinks') {
        return this.products.filter(t => t.type == 'drinks')
      }
      if (this.filter == 'desserts') {
        return this.products.filter(t => t.type == 'desserts')
      }

      return '';
    }
  }
}
</script>
